{% extends model('component') %}

{% define config = {
    name: 'header',
    tag: 'header'
} %}

{% define data = {
    showSearchForm: true,
    showNavigation: true
} %}

{% block body %}
    <div class="container">

        <div class="{{config.name}}__row {{config.name}}__navigation-top grid grid--middle grid--justify">

            {% block additionalLink %}{% endblock %}

            <div class="col col--sm-12 col--lg-4 is-hidden-sm-md">
                {% if data.showSearchForm %}
                    {% include molecule('search-form') with {
                        class: config.name ~ '__row' ~ config.name ~ '__search-form is-hidden-lg-xl',
                        attributes: {
                            'data-search-id': 'desktop'
                        }
                    } only %}
                {% endif %}

            </div>

            <div class="col col--sm-12 col--lg-4">
                {% include molecule('logo') with {
                    class: 'grid grid--center'
                } only %}
            </div>

            <div class="col col--lg-4 is-hidden-sm-md">

                {% if data.showNavigation %}
                    <div class="grid grid--middle grid--right">

                        {% include organism('navigation-top') with {
                            class: 'col'
                        } only %}
                    </div>
                {% endif %}

            </div>

        </div>


        {% if data.showNavigation %}
            <div class="is-hidden-lg-xl">
                <div class="{{config.name}}__row {{config.name}}__navigation-top">

                    {% include molecule('navigation-top-mobile') only %}

                </div>
            </div>

            <div class="{{config.name}}__row {{config.name}}__navigation-main is-hidden-sm-md">
                {{ widgetGlobal('NavigationWidgetPlugin', 'MAIN_NAVIGATION', 'navigation-header') }}
                {#<div class="nav-arrow nav-arrow--left">#}
                    {#{% include atom('icon') with {#}
                        {#class: 'icon--smaller',#}
                        {#data: {#}
                            {#name: 'arrow-left'#}
                        {#}#}
                    {#} only %}#}
                {#</div>#}
                {#<div class="nav-arrow nav-arrow--right">#}
                    {#{% include atom('icon') with {#}
                        {#class: 'icon--smaller',#}
                        {#data: {#}
                            {#name: 'arrow-right'#}
                        {#}#}
                    {#} only %}#}
                {#</div>#}
            </div>
            <div class="{{ config.name }}__navigation-main-mobile is-hidden-lg-xl">
                {{ widgetGlobal('NavigationWidgetPlugin', 'MAIN_NAVIGATION', 'navigation-header-mobile') }}
            </div>
        {% endif %}


    </div>
{% endblock %}

