{% extends model('component') %}

{% define config = {
    name: 'header',
    tag: 'header'
} %}

{% define data = {
    showSearchForm: true,
    showNavigation: true
} %}

{% block body %}
    {% set benefits = [
        'global.benefit.free_returns',
        'global.benefit.warranty',
        'global.benefit.competitive_prices'
    ] %}

    {% widget 'AgentControlBarWidget' only %}{% endwidget %}

    <div class="{{ config.name }}__top">
        <div class="container grid grid--justify">
            {% include molecule('panel-info') with {
                class: 'grid grid--justify',
                data: {
                    info: benefits,
                },
            } only %}

            <div class="col {{ config.name }}__currency-lang">
                {% widget 'LanguageSwitcherWidget' args [
                    app.request.pathInfo,
                    app.request.queryString,
                    app.request.requestUri
                ] with {
                    data: {
                        additionalClassName: config.name,
                    },
                    embed: {
                        parentConfigName: config.name,
                    },
                } only %}
                    {% block body %}
                        <div class="{{ embed.parentConfigName }}__select">
                            {{ parent () }}
                        </div>
                    {% endblock %}
                {% endwidget %}

                {%- widget 'CurrencyWidget' with {
                    data: {
                        additionalClassName: config.name,
                    },
                    embed: {
                        parentConfigName: config.name,
                    },
                } only %}
                    {% block body %}
                        <div class="{{ embed.parentConfigName }}__select">
                            {{ parent () }}
                        </div>
                    {% endblock %}
                {% endwidget %}

                {%- widget 'StoreSwitcher' with {
                    data: {
                        additionalClassName: config.name,
                    },
                    embed: {
                        parentConfigName: config.name,
                    },
                } only %}
                    {% block body %}
                        <div class="{{ embed.parentConfigName }}__select">
                            {{ parent () }}
                        </div>
                    {% endblock %}
                {% endwidget %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="{{ config.name }}__search-wrapper js-{{ config.name }}__search-wrapper">
            <div class="{{ config.name }}__search">
                <div class="{{ config.name }}__search-close js-{{ config.name }}__search-close">
                    {% include atom('icon') with {
                        class: config.name ~ '__search-close-icon',
                        data: {
                            name: 'close',
                        },
                    } only %}
                </div>

                {% if data.showSearchForm %}
                    {% include molecule('search-form') with {
                        attributes: {
                            'data-search-id': 'desktop',
                            'wrapper-class-name': 'js-' ~ config.name ~ '__search-wrapper',
                            'close-class-name': 'js-' ~ config.name ~ '__search-close',
                            'open-class-name': 'js-' ~ config.name ~ '__search-open',
                            'wrapper-toggle-class-name': config.name ~ '__search-wrapper-active',
                        },
                    } only %}
                {% endif %}
            </div>
        </div>

        {% block additionalLink %}{% endblock %}

        <div class="{{ config.name }}__row {{ config.name }}__navigation-top grid grid--middle grid--justify">
            <div class="col col--sm-12 col--lg-4 is-hidden-sm-md">
                {% if data.showSearchForm %}
                    <div class="{{ config.name }}__search-open js-{{ config.name }}__search-open">
                        {% include atom('icon') with {
                            class: config.name ~ '__search-open-icon',
                            data: {
                                name: 'search',
                            },
                        } only %}
                    </div>
                {% endif %}
            </div>

            <div class="col col--sm-12 col--lg-4">
                {% include molecule('logo') with {
                    modifiers: modifiers,
                    class: 'grid grid--center'
                } only %}
            </div>

            <div class="col col--lg-4 is-hidden-sm-md">
                {% if data.showNavigation %}
                    {% include organism('navigation-top') only %}
                {% endif %}
            </div>
        </div>
        {% if data.showNavigation %}
            <div class="is-hidden-lg-xl">
                <div class="{{ config.name }}__row {{ config.name }}__navigation-top">
                    {% include molecule('navigation-top-mobile') only %}
                </div>
            </div>
        {% endif %}
    </div>
    {% if data.showNavigation %}
        <div class="{{ config.name }}__row {{ config.name }}__navigation-main is-hidden-sm-md">
            {% block mainNavigation %}
                {% widget 'NavigationWidget' args ['MAIN_NAVIGATION_DESKTOP', 'navigation-header'] %}{% endwidget %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
