{% extends model('component') %}

{% define config = {
    name: 'header',
    tag: 'header'
} %}

{% define data = {
    showSearchForm: true,
    showNavigation: true
} %}

{% block body %}
    <div class="container">

        <div class="{{config.name}}__row {{config.name}}__navigation-top grid grid--middle grid--justify">

            <div class="col col--sm-12 col--lg-4 col--spaced-md is-hidden-sm-md">
                {% if data.showSearchForm %}
                    {% include molecule('search-form') with {
                        class: config.name ~ '__search-form is-hidden-sm-md'
                    } only %}
                {% endif %}

                {#<div class="is-hidden-lg-xl text-right">#}
                    {#{% block mobile %}{% endblock %}#}
                {#</div>#}
            </div>

            <div class="col col--sm-12 col--lg-4 col--spaced-md">
                {% include molecule('logo') with {
                    class: 'grid grid--center'
                } only %}
            </div>

            <div class="col col--sm-12 col--lg-4 col--spaced-md">

                <div class="grid grid--middle grid--justify">
                    {% if data.showSearchForm %}
                        {% include molecule('search-form') with {
                            class: config.name ~ '__row' ~ config.name ~ '__search-form is-hidden-lg-xl col'
                        } only %}
                    {% endif %}

                    {% include organism('navigation-top') with {
                        class: 'col'
                    } only %}
                </div>

            </div>

        </div>

        {% if data.showNavigation %}
            <div class="{{config.name}}__row {{config.name}}__navigation-main">
                {{ widgetGlobal('NavigationWidgetPlugin', 'MAIN_NAVIGATION', view('navigation-main', 'ShopLayout')) }}
            </div>
        {% endif %}


    </div>
{% endblock %}
