{% extends model('component') %}

{% define config = {
    name: 'header',
    tag: 'header'
} %}

{% define data = {
    showSearchForm: true,
    showNavigation: true,
    showLangCurrencySwitches: false
} %}

{% block body %}
    <div class="container">
        <div class="{{ config.name }}__search-overlay js-toggle-search">
            <div class="{{ config.name }}__search-overlay-container">
                <div class="{{ config.name }}__search-close js-search-hide-icon">
                    {% include atom('icon') with {
                        data: {
                            name: 'close'
                        }
                    } only %}
                </div>

                {% if data.showSearchForm %}
                    {% include molecule('search-form') with {
                        attributes: {
                            'data-search-id': 'desktop'
                        }
                    } only %}
                {% endif %}
            </div>
            <div class="{{ config.name }}__overlay-shadow js-search-hide-overlay"></div>
        </div>

        {% block additionalLink %}{% endblock %}

        <div class="{{ config.name }}__row {{ config.name }}__navigation-top grid grid--middle grid--justify">
            <div class="col col--sm-12 col--lg-4 is-hidden-sm-md">
                {% if data.showLangCurrencySwitches %}
                    <div class="grid {{ config.name }}__currency-lang">
                        <div class="col">
                            {{ widgetGlobal(
                                'LanguageSwitcherWidgetPlugin',
                                app.request.pathInfo,
                                app.request.queryString,
                                app.request.requestUri
                            ) }}
                        </div>
                        <div class="col">{{ widgetGlobal('CurrencyWidgetPlugin') }}</div>
                    </div>
                {% endif %}

                {% if data.showSearchForm %}
                    <div class="{{ config.name }}__search-open js-search-show-icon">
                        {% include atom('icon') with {
                            data: {
                                name: 'search'
                            }
                        } only %}
                    </div>
                {% endif %}
            </div>

            <div class="col col--sm-12 col--lg-4">
                {% include molecule('logo') with {
                    class: 'grid grid--center'
                } only %}
            </div>

            <div class="col col--lg-4 is-hidden-sm-md">
                {% if data.showNavigation %}
                    {% include organism('navigation-top') only %}
                {% endif %}
            </div>
        </div>

        {% if data.showNavigation %}
            <div class="is-hidden-lg-xl">
                <div class="{{ config.name }}__row {{ config.name }}__navigation-top">
                    {% include molecule('navigation-top-mobile') only %}
                </div>
            </div>
            <div class="{{ config.name }}__row {{ config.name }}__navigation-main is-hidden-sm-md">
                {{ widgetGlobal('NavigationWidgetPlugin', 'MAIN_NAVIGATION_DESKTOP', 'navigation-header') }}
            </div>
            <div class="{{ config.name }}__navigation-main-mobile is-hidden-lg-xl">
                {{ widgetGlobal('NavigationWidgetPlugin', 'MAIN_NAVIGATION', 'navigation-header-mobile') }}
            </div>
        {% endif %}
    </div>
{% endblock %}
