{% extends molecule('gift-card-payment-summary', '@SprykerShop:GiftCardWidget') %}

{% block body %}
    {% for payment in data.cart.payments %}
        {% if payment.giftCard ?? false %}
            <li class="{{ config.name }}__list-item grid">
                <div class="grid col">
                    <div class="col">
                        {{ 'cart.giftcard.label' | trans }}: {{ payment.giftCard.code }}
                    </div>
                    {% if data.isQuoteEditable %}
                        <div class="col spacing-left">
                            {% include molecule('single-button-form') with {
                                data: {
                                    formAction: url('cart-code/code/remove', {'code': payment.giftCard.code}),
                                    buttonText: 'cart.voucher.remove' | trans,
                                    buttonClass: 'link link--darkest text-small',
                                    iconName: '',
                                    fieldName: 'cart_code_remove_form[_token]',
                                    fieldValue: csrf_token('cart_code_remove_form'),
                                },
                            } only %}
                        </div>
                    {% endif %}
                </div>

                <span class="col col--right">- {{ payment.amount | money }}</span>
            </li>
        {% else %}
            <li class="{{ config.name }}__list-item">
                {{ payment.paymentMethod }} <span class="float-right">- {{ payment.amount | money }}</span>
            </li>
        {% endif %}
    {% endfor %}

    {% if data.cart.totals.grandTotal != data.cart.totals.priceToPay %}
        <li class="{{ config.name }}__list-item">
            {{ 'cart.total.price_to_pay' | trans }}<strong class="float-right">{{ data.cart.totals.priceToPay | money }}</strong>
        </li>
    {% endif %}
{% endblock %}
