{% extends model('component') %}

{% define config = {
    name: 'gift-card-order-summary',
    tag: 'ul',
} %}

{% define data = {
    order: required,
} %}

{% block body %}
    {% for payment in data.order.payments %}
        {% if payment.giftCard is defined and payment.giftCard %}
            <li>
                {{ 'customer.profile.order_details.giftcard.label' | trans }}:&nbsp;{{ payment.giftCard.code }}
                <span class="float-right">- {{ payment.amount | money }}</span>
            </li>
        {% else %}
            <li>
                {{ payment.paymentMethod | capitalize }}:&nbsp;<span class="float-right">- {{ payment.amount | money }}</span>
            </li>
        {% endif %}
    {% endfor %}
{% endblock %}
