{% extends template('page-layout-main') %}

{% define data = {
    product: _view.product,
    productUrl: _view.productUrl,

    title: product.metaTitle | default(_view.product.name),
    metaTitle: product.metaTitle | default(_view.product.name),
    metaDescription: _view.product.metaDescription | default,
    metaKeywords: _view.product.metaKeywords | default
} %}

{% block container %}
    <div class="container">
        {% block pageInfo %}
            {% block title %}
                <link itemprop="url" href="{{ data.productUrl }}" />
            {% endblock %}
        {% endblock %}

        <main>
            {% block content %}
                <div class="grid">

                    {% include molecule('product-carousel', 'ProductDetailPage') with {
                        class: 'col pdp-left',
                        data: {
                            product: data.product
                        }
                    } only %}

                    <div class="col pdp-right">
                        {% include molecule('product-configurator', 'ProductDetailPage') with {
                            data: {
                                product: data.product
                            }
                        } only %}

                        {% include molecule('product-detail', 'ProductDetailPage') with {
                            data: {
                                description: data.product.description,
                                attributes: data.product.attributes,
                                sku: data.product.sku
                            }
                        } only %}

                        {% include molecule('toggler-accordeon') with {
                            attributes: {
                                trigger: '.js-toggle-pdp-options'
                            }
                        } only %}
                    </div>
                </div>

                {{ widget('ProductReviewWidgetPlugin', data.product.idProductAbstract) }}

                <div class="product-slider-container">
                    {{ widget('SimilarProductsWidgetPlugin', data.product) }}
                </div>

                {{ widget('ProductCmsBlockWidgetPlugin', data.product) }}

                {% block breadcrumbs %}
                    {{ widget('ProductCategoryWidgetPlugin', data.product, app.locale) }}
                {% endblock %}
            {% endblock %}
        </main>
    </div>
{% endblock %}
