{% extends model('component') %}

{% define config = {
    name: 'range-slider',
    tag: 'range-slider',
} %}

{% define data = {
    'parameter': required,
} %}

{% define attributes = {
    'wrap-class-name': 'js-' ~ config.name ~ '__range-slider',
    'target-class-name': 'js-' ~ config.name ~ '__input',
    'value-class-name': 'js-' ~ config.name ~ '__values-item',
    'value-min': required,
    'value-max': required,
    'active-min': required,
    'active-max': required,
    'step': 1,
    'connect': 'true',
    'margin': 1,
} %}


{% block body %}
    {% set activeMin = (attributes['active-min'] != attributes['value-min']) ? attributes['active-min'] %}
    {% set activeMax = (attributes['active-max'] != attributes['value-max']) ? attributes['active-max'] %}

    <input
            class="{{ config.jsName }}__input"
            type="hidden"
            name="{{ data.parameter }}[min]"
            value="{{ activeMin }}"
            required="required"
            min="{{ attributes['value-min'] }}"
            max="{{ attributes['value-max'] }}"
            data-default-value="{{ attributes['value-min'] }}"
    >
    <input
            class="{{ config.jsName }}__input"
            type="hidden"
            name="{{ data.parameter }}[max]"
            value="{{ activeMax }}"
            required="required"
            min="{{ attributes['value-min'] }}"
            max="{{ attributes['value-max'] }}"
            data-default-value="{{ attributes['value-max'] }}"
    >
    <div class="{{ config.name }} {{ config.name }}--horizontal {{ config.jsName }}__range-slider">
        <div class="{{ config.name }}__values">
            <span class="{{ config.name }}__values-item {{ config.jsName }}__values-item">
                {{- attributes['active-min'] | money -}}
            </span>
            <span class="{{ config.name }}__values-item {{ config.jsName }}__values-item">
                {{- attributes['active-max'] | money -}}
            </span>
        </div>
    </div>
{% endblock %}
