{% extends '@Gui/Layout/layout.twig' %}

{% block content %}
    <h1>{{ book ? 'Edit Book' : 'Create a new Book' }}</h1>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.publication_date) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}
    <a href="{{ url('/book') }}">Back to list</a>
{% endblock %}
