{# @deprecated Use molecule 'product-item-list' instead. #}
{% extends molecule('product-list-item', '@SprykerShop:ShopUi') %}

{% block class -%}
    grid grid--stretch {{ parent() }}
{%- endblock %}

{% block body %}
    {% block imageContainer %}
        <div class="col col--sm-12 col--md-3 {{ config.name }}__col {{ config.name }}__col-image">
            {% block image %}
                <a class="{{ config.name }}__overlay js-product-color-group__image-{{ data.abstractId }}" href="{{ data.url }}">
                    {% include molecule('lazy-image') with {
                        modifiers: ['thumbnail', 'product-list-item'],
                        data: {
                            imageSrc: data.imageUrl,
                            imageTitle: data.name,
                        },
                    } only %}
                </a>
                {% block groups %}
                    {% widget 'ProductGroupWidget' args [data.abstractId] use view('product-color-selector', 'ProductGroupWidget') only %}
                        {% block body %}
                            {% include molecule('color-selector', 'ProductGroupWidget') with {
                                modifiers: ['product-list'],
                                class: 'spacing-top spacing-top--small text-center',
                                data: {
                                    items: data.items,
                                },
                                attributes: {
                                    'target-link-class-name': 'js-product-color-group__image-' ~ data.idProductAbstract,
                                },
                            } only %}
                        {% endblock %}
                    {% endwidget %}
                {% endblock %}
            {% endblock %}
        </div>
    {% endblock %}

    <a class="{{ config.name }}__col {{ config.name }}__col-name col col--sm-8 col--md-7" href="{{ data.url }}">
        {% block name %}
            <span class="title title--medium">{{ data.name }}</span>
        {% endblock %}

        {% block rating %}
            {{ parent() }}
        {% endblock %}
    </a>

    {% block actionsContainer %}
        <a class="{{ config.name }}__col {{ config.name }}__col-price col col--sm-4 col--md-2 col--xl-2 text-right" href="{{ data.url }}">
            {% block price %}
                {{ parent() }}
            {% endblock %}
        </a>
    {% endblock %}

    <div class="{{ config.name }}__labels-wrap">
        {% block labels %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
