{% extends molecule('color-selector', '@SprykerShop:ProductGroupWidget') %}

{% block selection %}
    {% block selectionInner %}
        <{{ data.selectionTag }}
            class="{{ config.name }}__item {{ activeClassName }} {{ config.jsName }}__item"
            style="{{ backgroundColor }}"
            {{ component.renderAttributes(dataAttributesList) }}>
            <span class="{{ config.name }}__tooltip">{{ item.attributes.color }}</span>
        </{{ data.selectionTag }}>
    {% endblock %}
{% endblock %}
