{% extends model('component') %}

{% define config = {
    name: 'toggler-item',
} %}

{% define data = {
    title: required,
    text: '',
    triggerClass: '',
    targetClass: '',
    isActive: false,
    isToggler: true,
    isTogglerIncluded: true,
    hiddenClass: 'is-hidden',
} %}

{% block body %}
    {% set titleClasses = 'title title--h6 title--uppercase text-break' %}
    {% set activeClass = config.name ~ '__title--active' %}
    {% set togglerClass = data.isToggler ? (data.isActive ? activeClass : data.hiddenClass) %}
    {% set titleActiveClass = data.isActive ? activeClass %}
    {% set titleReadOnlyClass = not data.isToggler ? config.name ~ '__title--read-only' %}
    {% set targetAttribute = data.targetClass ? 'data-toggle-target-class-name=' ~ data.targetClass %}

    {% block title %}
        <h4 class="{{ titleClasses }} {{ component.renderClass(config.name ~ '__title', modifiers) }} {{ data.triggerClass }} {{ titleActiveClass }} {{ titleReadOnlyClass }}" {{ targetAttribute }}>{{ data.title }}</h4>
    {% endblock %}

    {% block content %}
        <div class="{{ component.renderClass(config.name ~ '__content', modifiers) }} {{ data.targetClass }} {{ togglerClass }}">
            {% block contentText %}{{ data.text }}{% endblock %}
        </div>
        {% if data.isToggler and data.isTogglerIncluded %}
            {% include molecule('toggler-accordion') with {
                attributes: {
                    'trigger-class-name': data.triggerClass,
                    'class-to-toggle': data.hiddenClass,
                    'active-class': activeClass,
                },
            } only %}
        {% endif %}
    {% endblock %}
{% endblock %}
