{% extends model('component') %}

{% define config = {
    name: 'toggler-item'
} %}

{% define data = {
    title: required,
    text: '',
    triggerClass: '',
    targetClass: '',
    isActive: false,
    isToggler: true,
    isTogglerIncluded: true
} %}

{% block body %}
    {% block title %}
        <h4 class="{{ component.renderClass(config.name ~ '__title', modifiers) }} {{ data.triggerClass }} {% if data.isActive %} active {% endif %} {% if not data.isToggler %} {{ config.name }}__title--read-only {% endif %}" {% if data.targetClass is not empty %}data-toggle-target=".{{ data.targetClass }}"{% endif %}>{{ data.title }}</h4>
    {% endblock %}

    {% block content %}
        <div class="{{ component.renderClass(config.name ~ '__content', modifiers) }} {{ data.targetClass }} {% if data.isToggler %}{% if data.isActive %} active {% else %} is-hidden {% endif %}{% endif %}">
            {% block contentText %}{{ data.text }}{% endblock %}
        </div>
        {% if data.isToggler and data.isTogglerIncluded %}
            {% include molecule('toggler-accordion') with {
                attributes: {
                    trigger: '.' ~ data.triggerClass
                }
            } only %}
        {% endif %}
    {% endblock %}

{% endblock %}
