{% extends model('component') %}

{% define config = {
    name: 'product-configurator',
    tag: 'section'
} %}

{% define data = {
    product: required,
    maxQuantity: 10
} %}

{% set options = [] %}
{% set productName = data.product.name | default %}
{% set sku = data.product.sku %}
{% set availabilityWidget = '' %}
{% set isDisabled = data.product.idProductConcrete is empty or data.product.price is empty %}

{% for index in 1..data.maxQuantity %}
    {% set options = options | merge([{
        label: index,
        value: index
    }]) %}
{% endfor %}

{% if widgetExists('AvailabilityWidgetPlugin') %}
    {% set isAvailable = widgetBlock('AvailabilityWidgetPlugin', 'isAvailable', data.product) %}
    {% set isDisabled = not isAvailable or isDisabled %}
{% endif %}

{% block body %}

    <h1 class="product-name">{{productName}}</h1>

    <div class="grid grid--justify pdp-price-review">
        {{ widgetBlock('ProductReviewWidgetPlugin', 'rating', data.product.idProductAbstract) }}
        <div class="col product-details__price">
            {{ widget('PriceWidgetPlugin', data.product) }}
        </div>
    </div>

    {{ widget('ProductGroupWidgetPlugin', data.product.idProductAbstract) }}

    {% include molecule('variant-configurator', 'ProductDetailPage') with {
        data: {
            superAttributes: data.product.attributeMap.superAttributes,
            selectedAttributes: data.product.selectedAttributes,
            availableAttributes: data.product.availableAttributes
        }
    } only %}

    <form method="POST" action="/cart/add/{{sku}}">
        {{ widget('ProductOptionWidgetPlugin', data.product) }}

        {% if widgetExists('ProductMeasurementUnitWidgetPlugin') %}
            {{ widget('ProductMeasurementUnitWidgetPlugin', data.product, isDisabled, options) }}
        {% else %}
            <div class="pdp-option">
                <div class="pdp-option__title js-toggle-pdp-options" data-toggle-target=".js-pdp-option-description">{{'cart.item_quantity' | trans}}</div>
                <div class="pdp-option__wrapper js-pdp-option-description is-hidden">
                    {% include atom('select') with {
                        modifiers: ['expand'],
                        data: {
                            options: options
                        },
                        attributes: {
                            name: 'quantity',
                            disabled: isDisabled
                        }
                    } only %}
                </div>
            </div>

            <div class="add-to-cart">
                <button type="submit" class="button button--black button--expand" {{ isDisabled ? 'disabled' : '' }} onclick="this.form.submit(); this.disabled='disabled'; return false;" {{qa('add-to-cart-button')}}>
                    {{ 'page.detail.add-to-cart' | trans }}
                </button>
            </div>
        {% endif %}

        {#{{ widget('MultiCartWidgetPlugin', data.product, isDisabled) }}#}
        {{ widget('AvailabilityWidgetPlugin', data.product) }}

    </form>

    {#{% if widgetExists('ShoppingListWidgetPlugin') %}#}
        {#{{ widget('ShoppingListWidgetPlugin', sku, isDisabled) }}#}
    {#{% endif %}#}

    {% if widgetExists('WishlistWidgetPlugin') %}
        {{ widget('WishlistWidgetPlugin', data.product) }}
    {% endif %}
{% endblock %}
