{% extends model('component') %}

{% define config = {
    name: 'product-configurator',
    tag: 'section'
} %}

{% define data = {
    product: required,
    maxQuantity: 10,
    isBundle: null,
    bundleItems: []
} %}

{% set options = [] %}
{% set productName = data.product.name | default %}
{% set sku = data.product.sku %}
{% set availabilityWidget = '' %}
{% set isProductConcrete = data.product.idProductConcrete is not empty %}
{% set isDisabled = data.product.idProductConcrete is empty or data.product.price is empty %}
{% set isProductAvailable = true %}

{% for index in 1..data.maxQuantity %}
    {% set options = options | merge([{
        label: index,
        value: index
    }]) %}
{% endfor %}

{% set isAvailable = data.product.idProductConcrete and data.product.available %}
{% set isDisabled = not isAvailable or isDisabled %}

{% set productDiscontinuedNoteWidget = findWidget('ProductDiscontinuedNoteWidget', [sku]) %}
{% if productDiscontinuedNoteWidget.isDiscontinued is not null %}
    {% set isDisabled = productDiscontinuedNoteWidget.isDiscontinued or isDisabled %}
    {% set isProductAvailable = not productDiscontinuedNoteWidget.isDiscontinued %}
{% endif %}

{% block body %}

    <h1 class="title title--product title--h2">{{productName}}</h1>

    <div class="grid grid--justify spacing-bottom spacing-bottom--bigger">
        {% widget 'ProductDetailPageReviewWidget' args [data.product.idProductAbstract] use view('pdp-review-rating', 'ProductReviewWidget') only %}{% endwidget %}
        {% widget 'ProductPriceVolumeWidget' args [data.product] only %}
        {% nowidget %}
            <div class="col text-right">
                {% include molecule('money-price') with {
                    modifiers: ['pdp'],
                    data: {
                        amount: data.product.price,
                        originalAmount: data.product.prices.ORIGINAL is not defined ? null : data.product.prices.ORIGINAL
                    }
                } only %}
            </div>
        {% endwidget %}
    </div>
    {% if data.isBundle != null %}
        {% embed molecule('toggler-item') with {
            modifiers: ['with-top-border', 'option'],
            data: {
                title: 'bundle.title' | trans,
                triggerClass: config.jsName ~ '__trigger-bundle',
                targetClass: config.jsName ~ '__target-bundle',
                isActive: true,
            },
            embed: {
                bundleItems: data.bundleItems,
            }
        } only %}
            {% block contentText %}
                {% include molecule('bundle-option-list', 'ProductDetailPage') with {
                    data: {
                        bundleItems: embed.bundleItems,
                    }
                } only %}
            {% endblock %}
        {% endembed %}
    {% endif %}

    {% block colors %}
        {% widget 'ProductGroupColorWidget' args [data.product.idProductAbstract, data.product.selectedAttributes ?? []] use view('product-detail-color-selector', 'ProductGroupWidget') only %}{% endwidget %}
    {% endblock %}

    {% include molecule('variant-configurator', 'ProductDetailPage') with {
        data: {
            superAttributes: data.product.attributeMap.superAttributes,
            selectedAttributes: data.product.selectedAttributes,
            availableAttributes: data.product.availableAttributes
        }
    } only %}

    {% widget 'AddToCartFormWidget' args [config, data.product, isDisabled, options] only %}
        {% block embeddedData %}
            {% widget 'ProductOptionConfiguratorWidget' args [data.product] only %}{% endwidget %}

            {% if not data.isDisabled and can('SeeAddToCartPermissionPlugin') %}
                {% embed molecule('toggler-item') with {
                    modifiers: ['with-top-border', 'option'],
                    data: {
                        title: 'cart.item_quantity' | trans,
                        isToggler: false,
                    },
                } only %}
                    {% block contentText %}
                        {% include molecule('quantity-counter') with {
                            modifiers: ['quantity-large', 'no-spacing'],
                            data: {
                                readOnly: true,
                            },
                        } only %}
                    {% endblock %}
                {% endembed %}
            {% else %}
                <input type="hidden" class="js-volume-price__quantity">
            {% endif %}

            {% include molecule('availability-product', 'AvailabilityWidget') ignore missing with {
                data: {
                    idProductConcrete: data.product.idProductConcrete,
                    isAvailable: data.product.available,
                },
            } only %}

            {% widget 'ProductDiscontinuedNoteWidget' args [data.product.sku] only %}{% endwidget %}

            {% if can('SeeAddToCartPermissionPlugin') %}
                <div class="{{ data.config.name }}__button-wrap">
                    <button class="button button--large button--expand" {{ data.isDisabled ? 'disabled' }} {{ qa('add-to-cart-button') }} data-init-single-click>
                        {{ 'page.detail.add-to-cart' | trans }}
                    </button>
                </div>
            {% endif %}
        {% endblock %}
    {% endwidget %}

    {% if not isAvailable and isProductConcrete %}
        {% widget 'AvailabilityNotificationSubscriptionWidget' args [data.product] only %}{% endwidget %}
    {% endif %}

    {% if can('SeeWishlistPermissionPlugin') and isProductAvailable %}
        {% include molecule('wishlist-selector-for-pdp', 'WishlistWidget') ignore missing with {
            data: {
                sku: data.product.sku,
                idProductConcrete: data.product.idProductConcrete | default
            }
        } only %}
    {% endif %}
{% endblock %}
