{% extends model('component') %}

{% define config = {
    name: 'product-configurator',
    tag: 'section'
} %}

{% define data = {
    product: required,
    maxQuantity: 10
} %}

{% set options = [] %}
{% set brand = data.product.attributes.brand | default %}
{% set sku = data.product.sku %}
{% set availabilityWidget = '' %}
{% set isDisabled = data.product.idProductConcrete is empty or data.product.price is empty %}

{% for index in 1..data.maxQuantity %}
    {% set options = options | merge([{
        label: index,
        value: index
    }]) %}
{% endfor %}

{% if widgetExists('AvailabilityWidgetPlugin') %}
    {% set isAvailable = widgetBlock('AvailabilityWidgetPlugin', 'isAvailable', data.product) %}
    {% set isDisabled = not isAvailable or isDisabled %}
{% endif %}

{% block body %}
    {% if brand is not empty %}
        <h5>{{'page.product.by' | trans}} {{brand}}</h5>
    {% endif %}
    <span>{{ 'product.attribute.sku' | trans }}: {{sku}}</span>

    <hr />
    <div class="product-details__price"> {{ widget('PriceWidgetPlugin', data.product) }} </div>
    {{ widgetBlock('ProductReviewWidgetPlugin', 'rating', data.product.idProductAbstract) }}
    {{ widget('ProductGroupWidgetPlugin', data.product.idProductAbstract) }}

    {% embed molecule('variant-configurator', 'ProductDetailPage') with {
        data: {
            superAttributes: data.product.attributeMap.superAttributes,
            selectedAttributes: data.product.selectedAttributes,
            availableAttributes: data.product.availableAttributes
        }
    } only %}
        {% block body %}<hr />{{parent()}}{% endblock %}
    {% endembed %}

    <hr />
    <form method="POST" action="/cart/add/{{sku}}">
        {{ widget('ProductOptionWidgetPlugin', data.product) }}

        {% if widgetExists('ProductMeasurementUnitWidgetPlugin') %}
            {{ widget('ProductMeasurementUnitWidgetPlugin', data.product, isDisabled, options) }}
        {% else %}
            <div class="grid grid--bottom grid--justify">
                <div class="col col--sm-5">
                    <label>
                        {{'cart.item_quantity' | trans}}
                        {% include atom('select') with {
                            modifiers: ['expand'],
                            data: {
                                options: options
                            },
                            attributes: {
                                name: 'quantity',
                                disabled: isDisabled
                            }
                        } only %}
                    </label>
                </div>

                <div class="col col--sm-6">
                    <button type="submit" class="button button--success button--expand" {{ isDisabled ? 'disabled' : '' }} onclick="this.form.submit(); this.disabled='disabled'; return false;" {{qa('add-to-cart-button')}}>
                        {% include atom('icon') with {
                            data: {
                                name: 'cart-plus'
                            }
                        } only %}
                        {{ 'page.detail.add-to-cart' | trans }}
                    </button>
                </div>
            </div>
        {% endif %}

        {{ widget('MultiCartWidgetPlugin', data.product, isDisabled) }}
        {{ widget('AvailabilityWidgetPlugin', data.product) }}
    </form>

    {% if widgetExists('ShoppingListWidgetPlugin') %}
        <hr />
        {{ widget('ShoppingListWidgetPlugin', sku, isDisabled) }}
    {% endif %}

    {% if widgetExists('WishlistWidgetPlugin') %}
        <hr />
        {{ widget('WishlistWidgetPlugin', data.product) }}
    {% endif %}
{% endblock %}
