{% extends model('component') %}

{% define config = {
    name: 'product-detail',
    tag: 'section'
} %}

{% define data = {
    description: '',
    attributes: [],
    sku: '',
    index: ''
} %}

{% block body %}
    {% embed molecule('toggler-item') with {
        modifiers: ['with-top-border', 'option'],
        data: {
            title: 'product.attribute.description' | trans,
            triggerClass: config.jsName ~ '__trigger-description' ~ (data.index is not empty ? '-' ~ data.index : ''),
            targetClass: config.jsName ~ '__target-description' ~ (data.index is not empty ? '-' ~ data.index : ''),
        },
        embed: {
            description: data.description,
            sku: data.sku
        }
    } only %}
        {% block contentText %}
            {% if embed.description is not empty %}
                {{ embed.description }}
            {% endif %}
            <div class="spacing-top spacing-top--bigger">{{ 'product.attribute.sku' | trans }}: {{ embed.sku }}</div>
        {% endblock %}
    {% endembed %}

    {% embed molecule('toggler-item') with {
        modifiers: ['with-top-border', 'option'],
        data: {
            title: 'page.product.details' | trans,
            triggerClass: config.jsName ~ '__trigger-details' ~ (data.index is not empty ? '-' ~ data.index : ''),
            targetClass: config.jsName ~ '__target-details' ~ (data.index is not empty ? '-' ~ data.index : ''),
        },
        embed: {
            attributes: data.attributes,
            sku: data.sku
        }
    } only %}
        {% block contentText %}
            <div class="grid">
                {% for name, value in embed.attributes if name %}
                    <div class="col col--sm-6 pdp-option__detail" itemprop="additionalProperty" itemscope itemtype="http://schema.org/PropertyValue">
                        <div itemprop="name"><b>{{ ('product.attribute.' ~ name) | trans }}</b></div>
                        <div itemprop="value">{{ value }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
    {% endembed %}

    {% include molecule('toggler-accordeon') with {
        attributes: {
            trigger: '.' ~ config.jsName ~ '__trigger-description' ~ (data.index is not empty ? '-' ~ data.index : '') ~ ', .' ~ config.jsName ~ '__trigger-details' ~ (data.index is not empty ? '-' ~ data.index : '')
        }
    } only %}
{% endblock %}
