{% extends model('component') %}

{% define config = {
    name: 'view-mode-switch',
} %}

{% define data = {
    viewMode: '',
} %}

{% set gridHref = path('change-view-mode', { mode: 'grid', 'referer-url': app.request.requestUri }) %}
{% set listHref = path('change-view-mode', { mode: 'list', 'referer-url': app.request.requestUri }) %}

{% block body %}
    <a class="{{ config.name }}__link {% if data.viewMode == 'grid' %} {{ config.name }}__link--active {% endif %}" href="{{gridHref}}">
        {% include atom('icon') with {
            class: 'spacing-right',
            modifiers: ['grid'],
            data: {
                name: 'grid'
            }
        } only %}
        {{ 'catalog.view.mode.grid' | trans }}
    </a>
    <a class="{{ config.name }}__link {% if data.viewMode != 'grid' %} {{ config.name }}__link--active {% endif %}" href="{{listHref}}">
        {% include atom('icon') with {
            class: 'spacing-right',
            data: {
                name: 'list'
            }
        } only %}
        {{ 'catalog.view.mode.list' | trans }}
    </a>
{% endblock %}
