{% extends molecule('view-mode-switch', '@SprykerShop:CatalogPage') %}

{% define data = {
    viewMode: '',
} %}

{% block body %}
    {% set gridViewActiveClass = data.viewMode == 'grid' ? config.name ~ '__link--active' %}
    {% set listViewActiveClass = data.viewMode != 'grid' ? config.name ~ '__link--active' %}

    <a class="{{ config.name }}__link {{ gridViewActiveClass }}" href="{{ gridHref }}">
        {% include atom('icon') with {
            class: 'spacing-right',
            modifiers: ['grid'],
            data: {
                name: 'grid',
            },
        } only %}
        {{ 'catalog.view.mode.grid' | trans }}
    </a>
    <a class="{{ config.name }}__link {{ listViewActiveClass }}" href="{{ listHref }}">
        {% include atom('icon') with {
            class: 'spacing-right',
            data: {
                name: 'list',
            },
        } only %}
        {{ 'catalog.view.mode.list' | trans }}
    </a>
{% endblock %}
