{% extends molecule('view-mode-switch', '@SprykerShop:CatalogPage') %}

{% define data = {
    viewMode: '',
} %}

{% block body %}
    <a class="{{ config.name }}__link {% if data.viewMode == 'grid' %} {{ config.name }}__link--active {% endif %}" href="{{gridHref}}">
        {% include atom('icon') with {
            class: 'spacing-right',
            modifiers: ['grid'],
            data: {
                name: 'grid',
            },
        } only %}
        {{ 'catalog.view.mode.grid' | trans }}
    </a>
    <a class="{{ config.name }}__link {% if data.viewMode != 'grid' %} {{ config.name }}__link--active {% endif %}" href="{{listHref}}">
        {% include atom('icon') with {
            class: 'spacing-right',
            data: {
                name: 'list',
            },
        } only %}
        {{ 'catalog.view.mode.list' | trans }}
    </a>
{% endblock %}
