{% extends template('page-layout-login', '@SprykerShop:CustomerPage') %}

{% define data = {
    isLogin: false,
} %}

{% block content %}
    <div class="page-layout-customer page-layout-customer--login-wrap">
        <div class="page-layout-customer__form-wrap">
            <ul class="list-switches list-switches--register-type">
                <li class="list-switches__item">
                    {% include molecule('toggler-radio') with {
                        data: {
                            label: 'checkout.customer.auth_as_user' | trans,
                        },
                        attributes: {
                            id: 'register',
                            checked: not data.isLogin,
                            name: 'accountLoginSwitcher',
                            'target-class-name': 'js-customer-page-login-register',
                        },
                        modifiers: ['with-bg'],
                    } only %}
                </li>

                <li class="list-switches__item">
                    {% include molecule('toggler-radio') with {
                        data: {
                            label: 'checkout.customer.auth_as_login' | trans,
                        },
                        attributes: {
                            id: 'login',
                            checked: data.isLogin,
                            name: 'accountLoginSwitcher',
                            'target-class-name': 'js-customer-page-login',
                        },
                        modifiers: ['with-bg'],
                    } only %}
                </li>
            </ul>

            <div class="js-customer-page-login-register {{ data.isLogin ? ' is-hidden' }}">
                {% include molecule('form') with {
                    data: {
                        title: 'checkout.customer.auth_as_user' | trans,
                        form: data.forms.register,
                        layout: {
                            salutation: 'col col--sm-12 col--md-3',
                            first_name: 'col col--sm-12 col--md-4',
                            last_name: 'col col--sm-12 col--md-5',
                            password: 'col col--sm-12 col--md-6',
                        },
                        options: {
                            action: url('register'),
                        },
                        submit: {
                            enable: true,
                            text: 'checkout.customer.auth_as_user' | trans,
                            class: 'form__action--login button button--large button--expand',
                        },
                    },
                    modifiers: ['grid-indent', 'login', 'checkout-actions'],
                    qa: 'register-form',
                } only %}
            </div>

            <div class="js-customer-page-login {{ not data.isLogin ? 'is-hidden' }}">
                {% embed molecule('form') with {
                    data: {
                        title: 'checkout.customer.auth_as_login' | trans,
                        form: data.forms.login,
                        layout: {
                            email: 'col col--sm-12 col--md-6',
                            password: 'col col--sm-12 col--md-6',
                        },
                        submit: {
                            enable: true,
                            text: 'forms.submit.login' | trans,
                            class: 'form__action--login button button--large button--expand',
                        },
                        cancel: {
                            enable: true,
                            qa: 'customer-forgot-password-link',
                        },
                    },
                    modifiers: ['grid-indent', 'login', 'checkout-actions'],
                } only %}
                    {% block cancel %}
                        <a href="{{ url('password/forgotten') }}" class="link link--darkest link--login-forgot-password" {{qa('customer-forgot-password-link')}}>
                            {{ 'forms.forgot-password' | trans~'?' }}
                        </a>
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    </div>
{% endblock %}
