{% extends molecule('order-summary', '@SprykerShop:CustomerPage') %}

{% block body %}
    <li class="{{ config.name }}__item">
        <span class="float-right">{{ data.order.totals.subtotal | money(true, data.order.currencyIsoCode) }}</span>
        {{ 'customer.order.subTotal' | trans }}
    </li>

    <li class="{{ config.name }}__item">
        {{ 'customer.order.expenseTotal' | trans }}

        <div class="spacing-top">
            {% for expense in data.order.expenses %}
                <div class="grid grid--justify">
                    <span class="col col--sm-8 col--lg-10 text-secondary">{% if expense.type == 'SHIPMENT_EXPENSE_TYPE' %}{{ 'customer.order.shipment' | trans }} {% endif %}{{ expense.name | trans }}</span>
                    <span class="col col--expand text-right">- {{ expense.unitPrice | money(true, data.order.currencyIsoCode) }}</span>
                </div>
            {% endfor %}
        </div>
    </li>

    <li class="{{ config.name }}__item">
        {{ 'cart.discounts' | trans }}

        <div class="spacing-top">
            {% for discount in data.order.calculatedDiscounts %}
                <div class="grid grid--justify">
                    <span class="col col--sm-8 col--lg-10 text-secondary">{{ discount.displayName | trans }}</span>
                    <span class="col col--expand text-right">- {{ discount.sumAmount | money(true, data.order.currencyIsoCode) }}</span>
                </div>
            {% endfor %}
        </div>
    </li>

    {% if data.order.totals.remunerationTotal %}
        <li class="{{ config.name }}__item">
            <span class="float-right">{{ data.order.totals.remunerationTotal | money(true, data.order.currencyIsoCode) }}</span>
            {{ 'customer.order.remunerationTotal' | trans }}
        </li>
    {% endif %}

    {% if data.order.totals.canceledTotal %}
        <li class="{{ config.name }}__item">
            <span class="float-right">{{ data.order.totals.canceledTotal | money(true, data.order.currencyIsoCode) }}</span>
            {{ 'customer.order.refundTotal' | trans }}
        </li>
    {% endif %}

    <li class="{{ config.name }}__item">
        <span class="float-right">{{ data.order.totals.taxTotal.amount | money(true, data.order.currencyIsoCode) }}</span>
        {{ 'customer.order.taxTotal' | trans }}
    </li>

    <li class="{{ config.name }}__item {{ config.name }}__item--total">
        <strong class="float-right">{{ data.order.totals.grandTotal | money(true, data.order.currencyIsoCode) }}</strong>
        <strong>{{ 'customer.order.grandTotal' | trans }}</strong>
    </li>

    <li class="{{ config.name }}__item">
        {% include molecule('gift-card-order-summary', 'GiftCardWidget') ignore missing with {
            data: {
                order: data.order,
            },
        } only %}
    </li>
{% endblock %}
