{% extends template('widget') %}

{% define data = {
    products: required,
    description: '',
    images: [],
    sliderConfig: '',
    addAllSetButton: true
} %}

{% block body %}
    {% block carousel %}
        {% embed molecule('slick-carousel') with {
            data: {
                slides: data.images,
                containerClass: 'product-set-slider'
            },
            attributes: {
                'data-json': '{
                        "slidesToShow": 1,
                        "dots": true,
                        "arrows": false
                    }'
            }
        } only %}

            {% block slides %}
                {% for slide in data.slides %}
                    {% include atom('thumbnail') with {
                        modifiers: ['bigger'],
                        attributes: {
                            itemprop: 'image',
                            src: slide.externalUrlLarge
                        }
                    } only %}
                {% endfor %}
            {% endblock %}
        {% endembed %}
    {% endblock %}

    {% block header %}
        <form method="POST" action="{{ path('cart/add-items') }}">
            {% if data.addAllSetButton %}
                {% set isDisabled = false %}

                {% for product in data.products %}
                    {% if product.idProductConcrete is not empty %}
                        {% if product.available %}
                            <input type="hidden" name="items[{{ loop.index }}][sku]" value="{{ product.sku }}" />
                            <input type="hidden" name="items[{{ loop.index }}][quantity]" value="1" />
                        {% endif %}
                    {% else %}
                        {% set isDisabled = true %}
                    {% endif %}
                {% endfor %}

                <button type="submit" class="button button--black float-right" {% if isDisabled %}disabled{% endif %}>
                    {{ 'product.set.detail.add-all-to-cart' | trans }}
                </button>
            {% endif %}

            {% block title %}
                <h5>{{ 'product.sets.widget.title' | trans }}</h5>
            {% endblock %}
        </form>

        {% block description %}
            {% if data.description is not empty %}
                <p>{{ data.description }}</p>
            {% endif %}
        {% endblock %}
    {% endblock %}

    {% block productSet %}
        <form method="GET">
            {% embed molecule('slick-carousel') with {
                data: {
                    slides: data.products,
                    containerClass: 'product-set-slider product-set-slider--set-images'
                },
                attributes: {
                    'data-json': data.sliderConfig
                }
            } only %}

                {% block slides %}
                    {% for product in data.slides %}
                        {% embed molecule('product-card') with {
                            modifiers: ['stretch'],
                            data: {
                                name: product.name,
                                abstractId: product.idProductAbstract,
                                url: product.url,
                                imageUrl: product.images.0.externalUrlSmall | default,
                                price: product.price,
                                originalPrice: product.prices['ORIGINAL'] | default
                            },
                            embed: {
                                product: product
                            }
                        } only %}
                            {% block content %}
                                {{parent()}}
                                {% set isNotAvailable = embed.product.idProductConcrete and not embed.product.available %}

                                {% embed molecule('variant-configurator', 'ProductDetailPage') with {
                                    data: {
                                        superAttributes: embed.product.attributeMap.superAttributes,
                                        selectedAttributes: embed.product.selectedAttributes,
                                        availableAttributes: embed.product.availableAttributes,
                                        useExternalForm: true
                                    },
                                    embed: embed
                                } only %}
                                    {% block variant %}
                                        {% include molecule('variant', 'ProductDetailPage') with {
                                            data: {
                                                name: name,
                                                formName: 'attributes[' ~ embed.product.idProductAbstract ~ '][' ~ name ~ ']',
                                                values: values,
                                                selectedValue: selectedValue,
                                                label: ('product.attribute.' ~ name) | trans,
                                                isAvailable: isAvailable
                                            }
                                        } only %}
                                    {% endblock %}
                                {% endembed %}

                                {% if isNotAvailable %}
                                    <p>
                                        <strong>{{ "product.detail.out_of_stock" | trans }}</strong>
                                    </p>
                                {% endif %}
                                {% set isDisabled = not embed.product.idProductConcrete or not embed.product.available %}

                                <a href="{{ isDisabled ? 'javascript:void(0)' : path('cart/add', {sku: embed.product.sku}) }}" class="button button--black button--expand product-set-slider__button-add-to-cart" {% if isDisabled %}disabled{% endif %}>
                                    {{ 'page.detail.add-to-cart' | trans }}
                                </a>
                            {% endblock %}
                        {% endembed %}
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </form>
    {% endblock %}
{% endblock %}
