{% extends model('component') %}

{% define config = {
    name: 'navigation-top',
    tag: 'nav'
} %}

{% define data = {
    cartQuantity: app['cart.quantity'] | default,
    showUserMenu: not (hideUserMenu | default(false)),
    isInline: true,
    withSeparators: true
} %}

{% set cartQuantity = data.cartQuantity > 0 ? data.cartQuantity ~ ' ' : '' %}
{% set menuClass = data.isInline ? 'menu--inline' : '' %}

{% block body %}
    <ul class="menu {{menuClass}}">
        <li class="menu__item">
            {%- widget 'CurrencyWidget' only -%}{%- endwidget -%}
        </li>
        {% if data.withSeparators %}<li class="menu__separator"></li>{% endif %}
        <li class="menu__item">
            {% widget 'LanguageSwitcherWidget' args [
                app.request.pathInfo,
                app.request.queryString,
                app.request.requestUri
            ] only %}
            {%- endwidget -%}
        </li>
        {% if data.withSeparators %}<li class="menu__separator"></li>{% endif %}
        <li class="menu__item">
            {% include molecule('cart-items-counter') with {
                data: {
                    quantity: data.cartQuantity
                }
            } only %}
        </li>
        {% if data.withSeparators %}<li class="menu__separator"></li>{% endif %}

        {% if data.showUserMenu %}
            {% if is_granted('ROLE_USER') %}
                <li class="menu__item"><a href="{{ url('customer/overview') }}">{{ 'customer.profile'|trans }}</a></li>
                <li class="menu__item"><a href="{{ url('wishlist/overview') }}">{{ 'wishlist.wishlist'|trans }}</a></li>
                <li class="menu__item"><a href="{{ url('logout') }}">{{ 'customer.logout'|trans }}</a></li>
            {% else %}
                <li class="menu__item"><a href="{{ url('login') }}">{{ 'customer.login'|trans }}</a></li>
            {% endif %}
        {% endif %}
    </ul>
{% endblock %}
