{% extends model('component') %}

{% define config = {
    name: 'navigation-top',
    tag: 'nav'
} %}

{% define data = {
    cartQuantity: app['cart.quantity'],
    showUserMenu: not (hideUserMenu | default(false)),
    isUserAuthenticated: is_granted('IS_AUTHENTICATED_FULLY'),
    isInline: true,
    withSeparators: false
} %}

{% set cartQuantity = data.cartQuantity > 0 ? data.cartQuantity ~ ' ' : '' %}
{% set menuClass = data.isInline ? 'menu--inline' : '' %}

{% block body %}
    <ul class="menu {{menuClass}}">
        {#<li class="menu__item">{{ widgetGlobal('PriceModeSwitcherWidgetPlugin') }}</li>#}
        {% if data.withSeparators %}<li class="menu__separator"></li>{% endif %}
        {#<li class="menu__item">{{ widgetGlobal('CurrencyWidgetPlugin') }}</li>#}
        {% if data.withSeparators %}<li class="menu__separator"></li>{% endif %}
        {#<li class="menu__item">{{ widgetGlobal('LanguageSwitcherWidgetPlugin', app.request) }}</li>#}
        {% if data.withSeparators %}<li class="menu__separator"></li>{% endif %}

        {% if data.withSeparators %}<li class="menu__separator"></li>{% endif %}
        {#<li class="menu__item"><a href="{{ url('quick-order') }}">{{ 'quick-order.page-title'|trans }}</a></li>#}
        {% if data.withSeparators %}<li class="menu__separator"></li>{% endif %}

        {% if data.showUserMenu %}
            {% if data.isUserAuthenticated %}
                <li class="menu__item"><a href="{{ url('wishlist/overview') }}" class="grid grid--middle">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26" height="22" viewBox="0 0 26 22">
                            <defs>
                                <path id="a" d="M0 0h44v44H0z"/>
                            </defs>
                            <g fill="none" fill-rule="evenodd" transform="translate(-9 -11)">
                                <mask id="b" fill="#fff">
                                    <use xlink:href="#a"/>
                                </mask>
                                <path stroke="#111" d="M22 13.82a7.216 7.216 0 0 1 5.319-2.32c3.964 0 7.181 3.163 7.181 7.069 0 3.37-2.33 6.65-6.187 9.743a37.82 37.82 0 0 1-4.18 2.893c-.5.3-.963.563-1.379.789-.251.136-.432.23-.53.28l-.235.116-.23-.125a22.158 22.158 0 0 1-.528-.303 42.179 42.179 0 0 1-1.376-.847 43.023 43.023 0 0 1-4.173-3.026c-3.856-3.186-6.182-6.403-6.182-9.52 0-3.906 3.217-7.069 7.181-7.069 2.058 0 3.973.859 5.319 2.32z" mask="url(#b)"/>
                            </g>
                        </svg>
                        {#{{ 'wishlist.wishlist'|trans }}#}
                    </a></li>
                <li class="menu__item"><a href="{{ url('customer/overview') }}" class="grid grid--middle">

                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26" height="22" viewBox="0 0 26 22">
                            <defs>
                                <path id="a" d="M.5 0h44v44H.5z"/>
                            </defs>
                            <g fill="none" fill-rule="evenodd" transform="translate(-9.5 -11)">
                                <mask id="b" fill="#fff">
                                    <use xlink:href="#a"/>
                                </mask>
                                <g stroke="#111" mask="url(#b)">
                                    <path d="M10 33c0-4.98 5.807-8.5 12.5-8.5S35 28.02 35 33v.5H10V33zM22.5 11.5c3.584 0 6.5 2.916 6.5 6.5 0 3.585-2.916 6.5-6.5 6.5A6.506 6.506 0 0 1 16 18c0-3.584 2.915-6.5 6.5-6.5z"/>
                                </g>
                            </g>
                        </svg>

                        {#{{ 'customer.profile'|trans }}#}
                    </a></li>
                {#<li class="menu__item"><a href="{{ url('logout') }}">{{ 'customer.logout'|trans }}</a></li>#}
            {% else %}
                <li class="menu__item"><a href="{{ url('login') }}" class="grid grid--middle">

                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26" height="22" viewBox="0 0 26 22">
                            <defs>
                                <path id="a" d="M.5 0h44v44H.5z"/>
                            </defs>
                            <g fill="none" fill-rule="evenodd" transform="translate(-9.5 -11)">
                                <mask id="b" fill="#fff">
                                    <use xlink:href="#a"/>
                                </mask>
                                <g stroke="#111" mask="url(#b)">
                                    <path d="M10 33c0-4.98 5.807-8.5 12.5-8.5S35 28.02 35 33v.5H10V33zM22.5 11.5c3.584 0 6.5 2.916 6.5 6.5 0 3.585-2.916 6.5-6.5 6.5A6.506 6.506 0 0 1 16 18c0-3.584 2.915-6.5 6.5-6.5z"/>
                                </g>
                            </g>
                        </svg>

                        {#{{ 'customer.login'|trans }}#}
                    </a></li>
            {% endif %}
        {% endif %}

        <li class="menu__item">
            {#{% if widgetGlobalExists('MiniCartWidgetPlugin') %}#}
            {#{{ widgetGlobal('MiniCartWidgetPlugin', cartQuantity) }}#}
            {#{% else %}#}
            <a href="{{ url('cart') }}" class="grid grid--middle cart-link">
                {% if cartQuantity > 0 %}
                <span class="cart-link__quantity">
                    {{cartQuantity}}
                </span>
                {% else %}
                {% endif %}

                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="26" height="23" viewBox="0 0 26 23">
                    <defs>
                        <path id="a" d="M0 0h44v44H0z"/>
                    </defs>
                    <g fill="none" fill-rule="evenodd" transform="translate(-9 -10)">
                        <mask id="b" fill="#fff">
                            <use xlink:href="#a"/>
                        </mask>
                        <g mask="url(#b)">
                            <path fill="#111" d="M29.83 16h-1.305l-4.3-5.126a.5.5 0 1 1 .765-.643L29.83 16zM15.475 16h-1.306l4.84-5.769a.5.5 0 0 1 .767.643L15.475 16z"/>
                            <path stroke="#111" d="M31.8 30.825c-.185.967-.95 1.675-1.87 1.675H14.07c-.92 0-1.685-.709-1.87-1.674L9.743 18.288a1.5 1.5 0 0 1 1.472-1.788h21.57a1.5 1.5 0 0 1 1.472 1.788l-2.456 12.537z"/>
                            <g fill="#111" transform="translate(18.5 21)">
                                <rect width="1" height="7" rx=".5"/>
                                <rect width="1" height="7" x="6" rx=".5"/>
                                <rect width="1" height="7" x="3" rx=".5"/>
                            </g>
                        </g>
                    </g>
                </svg>

                {#{{ 'global.cart' | trans }}#}
            </a>
            {#{% endif %}#}
        </li>

    </ul>
{% endblock %}
