{% extends model('component') %}

{% define config = {
    name: 'navigation-top',
    tag: 'nav'
} %}

{% define data = {
    cartQuantity: app['cart.quantity'] | default,
    quote: app['quote'],
    showUserMenu: not (hideUserMenu | default(false)),
    isUserAuthenticated: is_granted('IS_AUTHENTICATED_FULLY'),
    isInline: false,
    withSeparators: false
} %}

{% set cartQuantity = data.cartQuantity > 0 ? data.cartQuantity ~ ' ' : '' %}
{% set menuClass = data.isInline ? 'menu--inline' : '' %}

{% block body %}
    <ul class="menu {{menuClass}} grid grid--middle">

        {% if data.showUserMenu %}
            {% if data.isUserAuthenticated %}
                <li class="menu__item"><a href="{{ url('wishlist/overview') }}" class="grid grid--middle">
                        {% include atom('icon') with {
                            class: 'icon--big',
                            data: {
                                name: 'wishlist'
                            }
                        } only %}
                    </a></li>
                <li class="menu__item"><a href="{{ url('customer/overview') }}" class="grid grid--middle">

                        {% include atom('icon') with {
                            class: 'icon--big',
                            data: {
                                name: 'user-account'
                            }
                        } only %}

                    </a></li>
            {% else %}

                <li class="menu__item"><a href="{{ url('login') }}" class="grid grid--middle">
                        {% include atom('icon') with {
                            class: 'icon--big',
                            data: {
                                name: 'wishlist'
                            }
                        } only %}
                    </a></li>

                <li class="menu__item"><a href="{{ url('login') }}" class="grid grid--middle">

                        {% include atom('icon') with {
                            class: 'icon--big',
                            data: {
                                name: 'user-account'
                            }
                        } only %}

                    </a></li>
            {% endif %}
        {% endif %}

        <li class="menu__item">

            <a href="#" class="grid grid--middle cart-link">
                {% if cartQuantity > 0 %}
                    <span class="cart-link__quantity">
                        {{cartQuantity}}
                    </span>
                {% else %}
                {% endif %}

                {% include atom('icon') with {
                    class: 'icon--big',
                    data: {
                        name: 'cart'
                    }
                } only %}
            </a>
            <div>
                {% if data.quote.items is not empty %}
                    {% for item in data.quote.items %}
                        {% set cartItemSubTotal = item.quantity * item.unitPrice %}
                              {% include molecule('cart-image', 'CartPage') with {
                            data: {
                                name: item.name | default(''),
                                image: item.images is empty ? null : (item.images | first)
                            }
                        } only %}
                        <strong>{{ item.name }}</strong>
                        <strong>{{ cartItemSubTotal | money }}</strong>
                        <strong>{{ item.sumSubtotalAggregation | money }}</strong>
                        {% for attribute in item.concreteAttributes %}
                            {{ attribute }}
                        {% endfor %}
                        <strong>{{ item.quantity }}</strong>
                        <a class="{{ config.name }}__remove" href="{{ path('cart/remove', {'sku': item.sku, 'groupKey': item.groupKey }) }}">
                            {{ 'remove' | trans }}
                        </a>
                    {% endfor %}
                    <strong>{{ data.quote.totals.grandTotal | money }}</strong>
                    {% set canProceedToCheckout = data.quote.items is not empty
                        and (not is_granted('IS_AUTHENTICATED_FULLY') or can('WriteSharedCartPermissionPlugin', data.quote.idQuote))
                    %}
                    {% if canProceedToCheckout %}
                        <a class="button button--expand button--black cart-summary__button" href="{{ url('checkout-index') }}" {{qa('cart-go-to-checkout')}}>
                            {{ 'cart.checkout' | trans }}
                        </a>
                    {% endif %}
                {% endif %}
                <a href="{{ url('cart') }}" class="grid grid--middle cart-link">
                    {{ 'cart.cart' | trans }}
                </a>
            </div>
        </li>
    </ul>
{% endblock %}
