{% extends model('component') %}

{% define config = {
    name: 'product-configurator',
    tag: 'section'
} %}

{% define data = {
    bundleItems: required,
} %}


{% block body %}
    <div class="bundle-list">
        <div class="product-slider-title">
            <h4 class="product-slider-title__text">{{ 'bundle.title' | trans }}</h4>
            <div class="product-slider-title__line product-slider-title__line--expand"></div>
        </div>

        {% embed molecule('slick-carousel') with {
            data: {
                slides: data.bundleItems
            },
            attributes: {
                'data-json': '{
                    "slidesToShow": 4,
                    "dots": false,
                    "responsive": [{
                            "breakpoint": 820,
                            "settings": {
                                "slidesToShow": 3
                            }
                        },
                        {
                            "breakpoint": 570,
                            "settings": {
                                "slidesToShow": 2
                            }
                        },
                        {
                            "breakpoint": 480,
                            "settings": {
                                "slidesToShow": 1
                            }
                        }
                    ]}'
            }
        } only %}

            {% block slides %}
                {% for slide in data.slides %}
                    {% embed molecule('product-card') with {
                        data: {
                            name: slide.name,
                            abstractId: slide.idProductAbstract,
                            url: slide.productUrl,
                            imageUrl: slide.image,
                            price: '1'
                        },
                        class: 'bundle-list__item',
                        embed: {
                            quantity: slide.quantity,
                            description: slide.description,
                            sku: slide.sku,
                            index: loop.index,
                            abstractId: slide.idProductAbstract,
                            attributes: slide.attributes
                        }
                    } only %}

                        {% block labels %}
                        {% endblock %}
                        {% block groups %}
                            {{ widgetGlobal('ProductGroupWidgetPlugin', embed.abstractId, view('product-color-selector', 'ExampleProductColorGroupWidget')) }}
                        {% endblock %}
                        {% block name %}
                            <div class="col col--sm-12">
                                <span class="product-card__name">{{data.name}}</span>
                                <span class="bundle-quantity"> ·&nbsp; {{ embed.quantity }}x</span>
                            </div>
                        {% endblock %}
                        {% block price %}
                        {% endblock %}
                        {% block rating %}
                            {{ widget('ProductAbstractReviewWidgetPlugin', embed.abstractId) }}
                            {% include molecule('product-detail', 'ProductDetailPage') with {
                                data: {
                                    description: embed.description,
                                    attributes: embed.attributes,
                                    sku: embed.sku,
                                    index: embed.index
                                }
                            } only %}
                        {% endblock %}
                    {% endembed %}
                {% endfor %}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
