{% extends template('widget') %}

{% define data = {
    wishlistCollection: _widget.wishlistCollection,
    isActivePage: _widget.isActivePage,
    activeWishlistId: _widget.activeWishlistId,
} %}

{% set hasWishlists = data.wishlistCollection is not empty %}
{% set itemClass = data.isActivePage ? ' menu__item--active' : '' %}
{% set itemClass = itemClass ~ (hasWishlists ? ' menu__item--has-children-list' : '') %}

{%- macro isActive(idWishlist, activeWishlistId) -%}
    {%- if idWishlist == activeWishlistId -%}menu__item--active{%- endif -%}
{%- endmacro -%}

{%- import _self as macros -%}

{% block body %}
    <li class="menu__item {{ itemClass }}">
        <a href="{{ path('wishlist/overview') }}" data-id="sidebar-wishlist">{{ 'wishlist.wishlist' | trans }}</a>
        {% if hasWishlists %}
            <ul class="menu">
                {% for wishlist in data.wishlistCollection %}
                    <li class="menu__item {{macros.isActive(wishlist.idWishlist, data.activeWishlistId)}}">
                        <a href="{{ path('wishlist/details', {wishlistName: wishlist.name}) }}">{{ wishlist.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endblock %}
