{# @deprecated Use molecule 'product-detail-color-selectoer' instead. #}
{% extends model('component') %}

{% define config = {
    name: 'color-selector-pdp',
    tag: 'color-selector-pdp',
} %}

{% define data = {
    items: required,
} %}

{% block component %}
    {% if data.items is not empty %}
        {{parent()}}
    {% endif %}
{% endblock %}

{% block body %}
    {% for item in data.items %}
        {% set image = item.images is defined ? item.images | first : null %}
        <a
            class="{{config.name}}__color {% if loop.first %}{{config.name}}__color--active{% endif %} {{config.jsName}}__color"
            href="{{ item.url }}"
            data-image-src="{{ image ? image.externalUrlSmall : '' }}"
            {% if item.colorCode %}style="background-color:{{ item.colorCode }};"{% endif %}>
            <span class="{{ config.name }}__tooltip">{{ item.attributes.color }}</span>
        </a>
    {% endfor %}
{% endblock %}
