{% extends template('page-layout-customer', 'CustomerPage') %}

{% define data = {
    addresses: _view.addresses,
    customerDeleteFormClone: _view.customerDeleteFormCloner,

    title: 'customer.account.address' | trans,
    activePage: 'address',
} %}

{% block customerContent %}
    {% set deleteAddressForm = data.customerDeleteFormClone.getForm.createView %}

    <div class="grid grid-justify">
        {% for address in data.addresses %}
            <div class="col--lg-6 col--sm-12">
                <div class="box">
                    {% embed molecule('title-box', 'CustomerPage') with {
                        data: {
                            title: data.activePage ~ loop.index
                        },
                        embed: {
                            address: address,
                            deleteAddressForm: deleteAddressForm,
                        },
                    } only %}
                        {% block additionalContent %}
                            {% set idCustomerAddress = embed.address.idCustomerAddress %}

                            <ul class="menu menu--inline menu--customer-account float-right">
                                <li class="menu__item">
                                    <a href="{{ url('customer/address/update', {'id': idCustomerAddress }) }}">
                                        {{ "customer.profile.address.edit" | trans }}
                                    </a>
                                </li>

                                <li class="menu__item">
                                    {% set deleteForm = embed.deleteAddressForm %}

                                    {{ form_start(deleteForm, {'action': path('customer/address/delete', {'id': idCustomerAddress}) }) }}
                                        <button class="link link--darkest" data-init-single-click>{{ "customer.profile.address.delete" | trans }}</button>
                                    {{ form_end(deleteForm) }}
                                </li>
                            </ul>
                        {% endblock %}
                    {% endembed %}

                    {% include molecule('display-address') with {
                        class: 'menu menu--customer-account',
                        data: {
                            address: address,
                            showAddressLabel: true,
                        },
                    } only %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="box">
        <a class="button" href="{{ url('customer/address/new') }}" {{ qa('customer-add-new-address') }}>{{ 'customer.account.button.add_new_address' | trans }}</a>
    </div>
{% endblock %}
