{% extends model('component') %}

{% define config = {
    name: 'image-gallery',
    tag: 'image-gallery',
} %}

{% define data = {
    idProductAbstract: required,
    images: [],
} %}

{% define attributes = {
    'active-class': '',
    'slider-config': '{}',
} %}

{% set imagesQuantity = data.images | length %}
{% set firstImage = data.images | first %}

{% block extraClass %}
    {{ config.jsName }}
{% endblock %}

{% block body %}
    {% if imagesQuantity > 1 %}
        {% include molecule('image-gallery-thumbnail', 'ProductImageWidget') with {
            class: config.jsName ~ '-thumbnail',
            data: {
                images: data.images,
            },
        } only %}
    {% endif %}

    {% set singleImageClass = imagesQuantity == 1 ? config.name ~ '__container--single-image' %}

    <div class="{{ config.name }}__container {{ singleImageClass }}">
        {% for image in data.images %}
            {% set activeItemClass = loop.first ? config.name ~ '__item--active' %}

            <div class="{{ config.name }}__item {{ config.jsName }}__item {{ activeItemClass }}">
                {% if image.externalUrlLarge is not empty %}
                    {% include molecule('lazy-image') with {
                        class: config.name ~ '__image',
                        modifiers: ['full-height'],
                        data: {
                            imageSrc: image.externalUrlLarge,
                            imageTitle: 'page.product.details.slider_image' | trans,
                        },
                    } only %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
