{% extends molecule('wishlist-detail-table', '@SprykerShop:WishlistPage') %}

{% define config = {
    name: 'wishlist-detail-table',
} %}

{% macro image(imageUrl, name, className, modifiers = []) %}
    {% if imageUrl %}
        {% include molecule('lazy-image') with {
            modifiers: ['min-size', 'wishlist'] | merge(modifiers),
            class: className,
            data: {
                imageSrc: imageUrl,
                imageTitle: name,
            },
        } only %}
    {% endif %}
{% endmacro %}

{% block actionContent %}
    <input type="hidden" name="id-wishlist-item" value="{{ idWishlistItem }}">
                
    {% if widgetGlobalExists('MerchantProductOfferWidget') %}
        {% include molecule('wishlist-item-product-offer', 'MerchantProductOfferWidget') with {
            data: {
                productView: item,
            },
        } only %}
    {% elseif widgetGlobalExists('MerchantProductWidget') %}
        {% include molecule('wishlist-item-merchant-product', 'MerchantProductWidget') with {
            data: {
                productView: item,
            },
        } only %}
    {% endif %}
{% endblock %}

{% block wishlistMoveToCartAction %}
    {% if wishlistMoveToCartForm %}
        {{ form_start(wishlistMoveToCartForm, { action: moveToCartActionPath, name: moveToCartFormName, attr: { id: moveToCartFormName } }) }}
            <button class="table-action-list__link">
                {{ 'customer.account.wishlist.add-to-cart' | trans }}
            </button>

            {{ block('actionContent') }}
        {{ form_end(wishlistMoveToCartForm) }}
    {% endif %}
{% endblock %}

{% block wishlistRemoveItemAction %}
    {% if wishlistRemoveItemForm %}
        {{ form_start(wishlistRemoveItemForm, { action: removeItemActionPatch, name: removeItemFormName, attr: { id: removeItemFormName } }) }}
            <button class="table-action-list__link">
                {{ 'customer.account.wishlist.remove' | trans }}
            </button>

            {{ block('actionContent') }}
        {{ form_end(wishlistRemoveItemForm) }}
    {% endif %}
{% endblock %}

{% block body %}
    <table class="table table--expand table--responsive">
        <thead>
            <tr>
                <th>{{ 'customer.account.wishlist.product' | trans }}</th>
                <th></th>
                <th>{{ 'customer.account.wishlist.price' | trans }}</th>
                <th>{{ 'customer.account.wishlist.availability' | trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for idWishlistItem, item in data.wishlistItems %}
                {% set isItemAvailable = item.available is defined and item.available and item.price is defined and item.price is not null %}
                {% set productDiscontinuedWidget = findWidget('ProductDiscontinuedWidget', [item.sku]) %}
                {% set isDiscontinued = productDiscontinuedWidget.isDiscontinued %}
                {% if isDiscontinued is not null %}
                    {% set isItemAvailable = not isDiscontinued and isItemAvailable %}
                {% endif %}
                {% set imageUrl = item.images.0.externalUrlSmall ?? '' %}
                {% import _self as macros %}
                
                <tr class="table__tr table__tr--with-border">
                    <td>
                        {{ _self.image(imageUrl, item.name, 'is-hidden-sm-md', ['thumbnail']) }}
                    </td>
                    <td class="transform-cell transform-cell--spacing-top" data-content="{{ 'customer.account.wishlist.product' | trans }}">
                        <div>
                            {{ _self.image(imageUrl, item.name, 'is-hidden-lg-xl') }}

                            <ul class="menu menu--inline menu--middle">
                                <li><strong><a href="{{ item.url }}">{{ item.name }}</a></strong></li>
                                <li>
                                    {% if widgetGlobalExists('SoldByMerchantWidget') %}
                                        {% widget 'SoldByMerchantWidget' args [item] only %}{% endwidget %}
                                    {% endif %}
                                </li>
                                <li>{{ item.sku }}</li>
                                {% for attribute in item.superAttributesDefinition %}
                                    {% if item.attributes[attribute] is defined %}
                                        <li>{{ ('product.attribute.' ~ attribute) | trans }}: <span class="title title--medium">{{ item.attributes[attribute] }}</span></li>
                                    {% endif %}
                                {% endfor %}

                                {% set wishlistItem = data.indexedWishlistItems[idWishlistItem] | default %}
                                {% if wishlistItem %}
                                    <li class="spacing-top">
                                        {% widget 'ProductConfigurationWishlistItemDisplayWidget' args [wishlistItem] only %}{% endwidget %}
                                        {% widget 'ProductConfigurationWishlistPageButtonWidget' args [wishlistItem] only %}{% endwidget %}
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                    <td class="transform-cell" data-content="{{ 'customer.account.wishlist.price' | trans }}">
                        {% if item.price is not null %}
                            {% include molecule('money-price') with {
                                modifiers: ['wishlist'],
                                data: {
                                    amount: item.price,
                                    originalAmount: item.prices.ORIGINAL ?? null,
                                },
                            } only %}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td class="transform-cell transform-cell--spacing-bottom" data-content="{{ 'customer.account.wishlist.availability' | trans }}">
                        {% if isItemAvailable %}
                            {{ 'customer.account.wishlist.available' | trans }}
                        {% else %}
                            {% widget 'ProductDiscontinuedWidget' args [item.sku] use view('wishlist-product-discontinued', 'ProductDiscontinuedWidget') only %}
                            {% nowidget %}
                                {{ 'customer.account.wishlist.not_available' | trans }}
                            {% endwidget %}
                        {% endif %}
                    </td>
                    <td class="table__actions">
                        {% set moveToCartFormName = 'addToCart_' ~ loop.index %}
                        {% set moveToCartActionPath = path('wishlist/move-to-cart', { sku: item.sku, 'wishlist-name': data.wishlistName }) %}
                        {% set wishlistMoveToCartForm = data.wishlistMoveToCartFormClone.getForm.createView ?? null %}
                        {% set removeItemFormName = 'deleteWishlistItem_' ~ loop.index %}
                        {% set removeItemActionPatch = path('wishlist/remove-item', { sku: item.sku, 'wishlist-name': data.wishlistName }) %}
                        {% set wishlistRemoveItemForm = data.wishlistRemoveItemFormClone.getForm.createView ?? null %}

                        {% include molecule('table-action-list') with {
                            data: {
                                items: [
                                    {
                                        customAction: block('wishlistMoveToCartAction'),
                                        available: isItemAvailable,
                                    },
                                    {
                                        customAction: block('wishlistRemoveItemAction'),
                                    },
                                ],
                            },
                        } only %}
                    </td>
                </tr>

                {% widget 'WishlistProductAlternativeWidget' args [item, data.wishlistName] only %}{% endwidget %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
