{% extends molecule('wishlist-detail-table', '@SprykerShop:WishlistPage') %}

{% define config = {
    name: 'wishlist-detail-table',
} %}

{% block body %}
    <div class="is-scrollable-x">
        <table class="table table--expand table--wishlist">
            <thead>
                <tr>
                    <th>{{ 'customer.account.wishlist.product' | trans  }}</th>
                    <th class="is-hidden-sm-only"></th>
                    <th>{{ 'customer.account.wishlist.price' | trans  }}</th>
                    <th>{{ 'customer.account.wishlist.availability' | trans  }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for item in data.wishlistItems %}
                {% set isItemAvailable = item.available is defined and item.available and item.price is defined and item.price is not null %}
                {% set productDiscontinuedWidget = findWidget('ProductDiscontinuedWidget', [item.sku]) %}
                {% set isDiscontinued = productDiscontinuedWidget.isDiscontinued %}
                {% if isDiscontinued is not null %}
                    {% set isItemAvailable = not isDiscontinued and isItemAvailable %}
                {% endif %}
                <tr>
                    <td class="is-hidden-sm-only">
                        {% set imageUrl = item.images.0.externalUrlSmall ?? '' %}

                        {% if imageUrl %}
                            {% include molecule('lazy-image') with {
                                modifiers: ['thumbnail', 'min-size', 'wishlist'],
                                data: {
                                    imageSrc: imageUrl,
                                    imageTitle: item.name,
                                },
                            } only %}
                        {% endif %}
                    </td>
                    <td>
                        {% if imageUrl %}
                            {% include molecule('lazy-image') with {
                                class: 'is-hidden-md-xl',
                                modifiers: ['thumbnail', 'min-size', 'wishlist'],
                                data: {
                                    imageSrc: imageUrl,
                                    imageTitle: item.name,
                                },
                            } only %}
                        {% endif %}
                        <ul class="menu menu--inline menu--middle">
                            <li><strong><a href="{{ item.url }}">{{ item.name }}</a></strong></li>
                            <li>{{ item.sku }}</li>
                            {% for attribute in item.superAttributesDefinition %}
                                {% if item.attributes[attribute] is defined %}
                                    <li>{{ ('product.attribute.' ~ attribute) | trans }}: <span class="title title--medium">{{ item.attributes[attribute] }}</span></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                    <td nowrap="nowrap">
                        {% if item.price is not null %}
                            {% include molecule('money-price') with {
                                modifiers: ['wishlist'],
                                data: {
                                    amount: item.price,
                                    originalAmount: item.prices.ORIGINAL is not defined ? null : item.prices.ORIGINAL
                                }
                            } only %}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if isItemAvailable %}
                            {{ 'customer.account.wishlist.available' | trans }}
                        {% else %}
                            {% widget 'ProductDiscontinuedWidget' args [item.sku] use view('wishlist-product-discontinued', 'ProductDiscontinuedWidget') only %}
                            {% nowidget %}
                                {{ 'customer.account.wishlist.not_available' | trans }}
                            {% endwidget %}
                        {% endif %}
                    </td>
                    <td>
                        <ul class="menu menu--inline menu--actions float-right">
                            {% if isItemAvailable %}
                                <li class="menu__item">
                                    {% set addToCartFormName = 'addToCart_' ~ loop.index %}
                                    {% set moveToCartActionPath = path('wishlist/move-to-cart', {sku: item.sku, 'wishlist-name': data.wishlistName}) %}

                                    {% if data.wishlistMoveToCartFormClone %}
                                        {% set wishlistMoveToCartForm = data.wishlistMoveToCartFormClone.getForm.createView %}

                                        {{ form_start(wishlistMoveToCartForm, { 'action': moveToCartActionPath, 'name': addToCartFormName, 'attr': {'id': addToCartFormName}}) }}
                                            {% block addToCartButton %}
                                                <button class="link link--user-account">
                                                    {{ 'customer.account.wishlist.add-to-cart' | trans }}
                                                </button>
                                            {% endblock %}
                                        {{ form_end(wishlistMoveToCartForm) }}
                                    {% else %}
                                        <form id="{{ addToCartFormName }}" name="{{ addToCartFormName }}" method="POST" action="{{ moveToCartActionPath }}">
                                            <input type="hidden" name="wishlist_move_to_cart_form[_token]" value="{{ csrf_token('wishlist_move_to_cart_form') }}">
                                            {{ block('addToCartButton') }}
                                        </form>
                                    {% endif %}
                                </li>
                            {% endif %}
                            <li class="menu__item float-right spacing-y">
                                {% set deleteFormName = 'deleteWishlistItem_' ~ loop.index %}
                                {% set removeItemActionPatch = path('wishlist/remove-item', {sku: item.sku, 'wishlist-name': data.wishlistName}) %}

                                {% if data.wishlistRemoveItemFormClone %}
                                    {% set wishlistRemoveItemForm = data.wishlistRemoveItemFormClone.getForm.createView %}

                                    {{ form_start(wishlistRemoveItemForm, {'action': removeItemActionPatch, 'name': deleteFormName, 'attr': {'id': deleteFormName}}) }}
                                        <button class="link link--user-account">
                                            {{ 'customer.account.wishlist.remove' | trans }}
                                        </button>
                                    {{ form_end(wishlistRemoveItemForm) }}
                                {% else %}
                                    {% include molecule('single-button-form') with {
                                        data: {
                                            formAction: removeItemActionPatch,
                                            buttonText: 'customer.account.wishlist.remove' | trans,
                                            iconName: '',
                                            buttonClass: 'link link--user-account',
                                            fieldName: 'wishlist_remove_item_form[_token]',
                                            fieldValue: csrf_token('wishlist_remove_item_form'),
                                            formAttributes: {
                                                name: deleteFormName,
                                                id: deleteFormName,
                                            },
                                        },
                                    } only %}
                                {% endif %}
                            </li>
                        </ul>
                    </td>
                </tr>
                {% widget 'WishlistProductAlternativeWidget' args [item, data.wishlistName] only %}{% endwidget %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
