{% extends model('component') %}

{% define config = {
    name: 'wishlist-detail-table'
} %}

{% define data = {
    wishlistItems: required,
    wishlistName: required
} %}

{% block body %}
    <div class="is-scrollable-x">
        <table class="table table--expand">
            <thead>
                <tr>
                    <th>{{ 'customer.account.wishlist.product' | trans  }}</th>
                    <th>{{ 'customer.account.wishlist.price' | trans  }}</th>
                    <th>{{ 'customer.account.wishlist.availability' | trans  }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for item in data.wishlistItems %}
                <tr>
                    <td>
                        {% set imageUrl = item.images[0].externalUrlSmall %}
                        {% if imageUrl %}
                            {% include atom('thumbnail') with {
                                modifiers: ['min-size', 'wishlist'],
                                attributes: {
                                    alt: item.name,
                                    src: imageUrl,
                                    title: item.name,
                                }
                            } only %}
                        {% endif %}
                        <ul class="menu menu--inline menu--middle">
                            <li><strong><a href="{{ item.url }}">{{ item.name }}</a></strong></li>
                            {% for attribute in item.superAttributesDefinition %}
                                {% if item.attributes[attribute] is defined %}
                                    <li>{{ ('product.attribute.' ~ attribute) | trans }}: <span class="title title--medium">{{ item.attributes[attribute] }}</span></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                    <td nowrap="nowrap">
                        {% if item.price is not null %}
                            {% include molecule('price') with {
                                modifiers: ['wishlist'],
                                data: {
                                    amount: item.price | money,
                                    originalAmount: item.prices.ORIGINAL is not defined ? null : (item.prices.ORIGINAL | money)
                                }
                            } only %}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td class="text-center">
                        {% if item.available %}
                            {{ 'customer.account.wishlist.available' | trans }}
                        {% else %}
                            {{ 'customer.account.wishlist.not_available' | trans }}
                        {% endif %}
                    </td>
                    <td>
                        <ul class="menu menu--inline float-right">
                            {% if item.available and item.price is not null %}
                                <li class="menu__item">
                                    <form id="addToCart_{{ loop.index }}"
                                        method="POST"
                                        action="{{ path('wishlist/move-to-cart', {sku: item.sku, 'wishlist-name': data.wishlistName}) }}"
                                    >
                                        <button type="submit" class="link link--user-account" title="{{ 'customer.account.wishlist.add-to-cart' | trans }}">
                                            {{ 'customer.account.wishlist.add-to-cart' | trans }}
                                        </button>
                                    </form>
                                </li>
                            {% endif %}
                            <li class="menu__item float-right spacing-y">
                                <form id="deleteWishlistItem_{{ loop.index }}"
                                    method="POST"
                                    action="{{ path('wishlist/remove-item', {sku: item.sku, 'wishlist-name': data.wishlistName}) }}"
                                >
                                    <button type="submit" class="link link--user-account" title="{{ 'customer.account.wishlist.remove' | trans }}">
                                        {{ 'customer.account.wishlist.remove' | trans }}
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
