{% extends molecule('customer-reorder-form', '@SprykerShop:CustomerReorderWidget') %}

{% define data = {
    order: required,
    idSalesOrder: '',
    requestUri: app.request.requestUri,
} %}

{% block body %}
    <h2 class="title spacing-bottom spacing-bottom--big">{{ 'customer.profile.order_details' | trans }}</h2>

    <div class="grid grid--right">
        {% widget 'OrderCancelButtonWidget' args [data.order, data.requestUri] only %}
            {% block formContent %}
                {% set buttonClasses = 'button button--hollow-alert spacing-right' %}
                {{ parent() }}
            {% endblock %}
        {% endwidget %}

        {% widget 'CustomerReorderFormWidget' args [data.order] only %}
            {% block embeddedData %}
                <button class="button button--medium button--expand-mobile spacing-bottom spacing-bottom--small">
                    {{ 'customer.order.reorder_all' | trans }}
                </button>
            {% endblock %}
        {% endwidget %}
    </div>

    {% widget 'CustomerReorderItemsFormWidget'  args [data.order, config] with {
        embed: {
            formContent: block('formContent'),
        },
    } only %}
        {% block embeddedData %}
            <input type="hidden" name="id" value="{{ data.order.idSalesOrder }}">
            {{ embed.formContent | raw }}
        {% endblock %}
    {% endwidget %}
{% endblock %}
