{% extends model('component') %}

{% define config = {
    name: 'review-distribution-display',
    tag: 'table'
} %}

{% define data = {
    summary: required
} %}

{% block body %}
    {% for rating, ratingReview in data.summary.ratingAggregation %}

        {% if data.summary.totalReview == 0  %}
            {% set ratingReviewPercent = 100 %}
        {% else %}
            {% set ratingReviewPercent =  100 - (ratingReview / data.summary.totalReview * 100) %}
        {% endif %}

        <tr>
            <td>
                {{ rating }}
                {% transchoice rating %}
                    product_review.summary.star|product_review.summary.stars
                {% endtranschoice %}
            </td>
            <td>
                <div class="rating-progress" max="{{ data.summary.totalReview }}" value="{{ ratingReview }}">
                    <div class="rating-progress__status" style="left: -{{ ratingReviewPercent }}%;"></div>
                </div>
            </td>
            <td>
                {{ ratingReview }}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
