{% extends model('component') %}

{% define config = {
    name: 'summary-item',
    tag: 'div'
} %}

{% define data = {
    cartItem: required,
    name: required,
    image: required,
    quantity: required,
    options: [],
    bundleItems: []
} %}


{% block body %}
    {% set canEditCart = (not is_granted('IS_AUTHENTICATED_FULLY') or can('WriteSharedCartPermissionPlugin', null)) %}
    {% set cartItemSubTotal = data.cartItem.quantity * data.cartItem.unitPrice %}

    <div class="shopping-cart__box">
        <div class="grid grid--justify grid--no-wrap">
            <div class="cart-item__image col ">
                {% include molecule('cart-image', 'CartPage') with {
                    data: {
                        name: data.cartItem.name | default(''),
                        image: data.cartItem.images is empty ? null : (data.cartItem.images | first)
                    }
                } only %}
            </div>
            <div class="cart-item__content col">
                <div class="grid grid--justify grid--middle">
                    <span class="cart-item__title col col--lg-8 col--sm-12">{{ data.cartItem.name }}</span>
                    <div class="cart-item__price col col--lg-4 col--sm-12">
                        <span class="cart-item__price">{{ cartItemSubTotal | money }}</span>
                    </div>
                </div>
                <div class="cart-item__options">
                    {% if data.cartItem.concreteAttributes is not empty %}
                        <ul>
                            {% for key, item in data.cartItem.concreteAttributes %}
                                <li> {{ ('product.attribute.' ~ key) | trans }}: {{ item }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if data.bundleItems is not empty %}
                        <ul>
                            {% for item in data.bundleItems %}
                                <li>  - {{ item.quantity }} x {{ item.name }}  </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if data.options is not empty %}
                        <ul>
                            {% for option in data.options %}
                                <li class="grid grid--justify grid--middle">
                                    <span class="col col--lg-8 col--sm-12"> + {{ option.value | trans }}:</span>
                                    <span class="col col--lg-4 col--sm-12 text-right">{{ option.sumPrice | default(0) | money }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <div class="cart-quantity-input">
                        {{ 'cart.item_quantity' | trans }}:  {{ data.cartItem.quantity }}
                    </div>

                    {% if canEditCart %}
                        <a class="cart-item__remove" href="{{ path('cart/remove', {'sku': data.cartItem.sku, 'groupKey': data.cartItem.groupKey }) }}">
                            {{ 'remove' | trans }}
                        </a>
                    {% endif %}
                </div>

            </div>

        </div>

    </div>


{% endblock %}
