{% extends view('content-product-set-alternative', '@SprykerShop:ContentProductSetWidget') %}

{% block body %}
    {% embed organism('product-set-cms-content', 'ProductSetWidget') ignore missing with {
        data: {
            products: data.products,
            name: data.name,
            description: data.description,
            images: data.images,
        },
    } only %}
        {% block body %}
            {% block header %}
                {% block title %}
                    {% include molecule('product-slider-title') with {
                        modifiers: ['set'],
                        data: {
                            title: data.name,
                        },
                    } only %}
                {% endblock %}

                {% block description %}
                    {% if data.description %}
                        <p>{{ data.description }}</p>
                    {% endif %}
                {% endblock %}
            {% endblock %}

            <div class="grid grid--stretch">
                <div class="col col--sm-12 col--lg-5 product-set-slider product-set-slider--single">
                    {% block carousel %}
                        {% embed molecule('slick-carousel') with {
                            data: {
                                slides: data.images,
                            },
                            attributes: {
                                'data-json': '{
                                    "slidesToShow": 1,
                                    "dots": true,
                                    "arrows": false
                                }',
                            },
                            modifiers: ['product-set'],
                        } only %}

                            {% block slides %}
                                {% for slide in data.slides %}
                                    {% include atom('thumbnail') with {
                                        modifiers: ['bigger', 'no-margin', 'product-set'],
                                        attributes: {
                                            itemprop: 'image',
                                            src: slide.externalUrlLarge,
                                        },
                                    } only %}
                                {% endfor %}
                            {% endblock %}
                        {% endembed %}
                    {% endblock %}
                </div>
                <div class="col col--sm-12 col--lg-7 product-set-slider product-set-slider--hide-prev-btn product-set-slider--multiple">
                    {% block productSet %}
                        <form method="GET">
                            {% include molecule('product-set-slider', 'ProductSetWidget') with {
                                data: {
                                    products: data.products,
                                    sliderConfig: data.sliderConfig
                                },
                            } only %}
                        </form>
                        {% include molecule('action-single-click-enforcer') with {
                            attributes: {
                                'target-selector': '.js-product-set__add-to-cart',
                            },
                        } only %}
                    {% endblock %}
                </div>
            </div>

            <div class="grid grid--center">
                <div class="col">
                    <form class="spacing-top spacing-top--bigger" method="POST" action="{{ path('cart/add-items') }}">
                        {% set isDisabled = false %}

                        {% for product in data.products %}
                            {% if product.idProductConcrete is not empty %}
                                {% if product.available %}
                                    <input type="hidden" name="items[{{ loop.index }}][sku]" value="{{ product.sku }}">
                                    <input type="hidden" name="items[{{ loop.index }}][quantity]" value="1">
                                {% endif %}
                            {% else %}
                                {% set isDisabled = true %}
                            {% endif %}
                        {% endfor %}

                        <button type="submit" class="button" data-init-single-click {% if isDisabled %}disabled{% endif %}>
                            {{ 'product.set.detail.add-all-to-cart' | trans }}
                        </button>
                    </form>
                </div>
            </div>
            <hr>
        {% endblock %}
    {% endembed %}
{% endblock %}
