{% extends model('component') %}

{% define config = {
    name: 'cart-summary',
    tag: 'div'
} %}

{% define data = {
    cart: required,
    isQuoteValid: required
} %}

{% set canProceedToCheckout = data.cart.items is not empty
    and data.isQuoteValid
    and (not is_granted('IS_AUTHENTICATED_FULLY') or can('WriteSharedCartPermissionPlugin', data.cart.idQuote))
%}

{% block body %}

    {#<h6>{{ 'cart.your-order' | trans }}</h6>#}
    <div class="cart-summary">
        <div class="shopping-cart__box">
            <ul class="list spacing-y">


                {% if data.cart.shipment is not empty and data.cart.shipment.method is not empty %}
                    <li class="list__item spacing-y">
                        <strong>{{ 'cart.shipping' | trans }}</strong>
                        {{ data.cart.shipment.method.name }}
                        <span class="float-right">{{ data.cart.shipment.method.storeCurrencyPrice | money }}</span>
                    </li>
                {% endif %}

                <li class="list__item spacing-y">
                    {{ 'cart.price.subtotal' | trans }}
                    <span class="float-right">{{ data.cart.totals.subtotal | money }}</span>
                </li>

                <li class="list__item spacing-y">
                    {{ 'cart.total.tax_total' | trans }}
                    <span class="float-right">{{ data.cart.totals.taxTotal.amount | money }}</span>
                </li>
                {% if widgetExists('DiscountSummaryWidgetPlugin') %}
                    <li class="list__item spacing-y">
                        {{ widget('DiscountSummaryWidgetPlugin', data.cart) }}
                    </li>
                {% endif %}
                <li class="list__item cart-summary__total spacing-y">
                    <strong>{{ 'cart.price.grand.total' | trans }}</strong>
                    <strong class="float-right">{{ data.cart.totals.grandTotal | money }}</strong>
                </li>
            </ul>
        </div>


        {% if canProceedToCheckout %}
            <a class="button button--expand button--black cart-summary__button" href="{{ url('checkout-index') }}" {{qa('cart-go-to-checkout')}}>
                {{ 'cart.checkout' | trans }}
            </a>
        {% endif %}
    </div>

{% endblock %}
