{% extends molecule('order-table', '@SprykerShop:CustomerPage') %}

{% define data = {
    requestUri: app.request.requestUri,
} %}

{% block body %}
    {% if data.orders is empty %}
        <p>{{ 'customer.account.no_order' | trans }}</p>
    {% else %}
        <table class="table table--expand table--customer-account table--order">
            <thead>
                <tr>
                    <th>{{ 'customer.order.order_id' | trans }}</th>
                    <th>{{ 'customer.order.date' | trans }}</th>
                    <th>{{ 'customer.order.total' | trans }}</th>
                    <th>{{ 'customer.order.items_state' | trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for order in data.orders %}
                    <tr class="table__tr table__tr--with-border">
                        <td>{{ order.orderReference }}</td>
                        <td>{{ date(order.createdAt) | formatDateTime }}</td>
                        <td>{{ order.totals.grandTotal | default(0) | money(true, order.currencyIsoCode) }}</td>
                        <td>
                            {% block stateWrapper %}
                                {% set stateCollection = data.ordersAggregatedItemStateDisplayNames[order.orderReference] %}

                                {% if order.orderReference and stateCollection %}
                                    {% for displayName, stateNames in stateCollection %}
                                        {% block state %}
                                            {% include molecule('status') with {
                                                data: {
                                                    label: displayName | trans,
                                                    status: stateNames | first | replace({' ': '-'}) | lower,
                                                },
                                            } only %}
                                        {% endblock %}
                                    {% endfor %}
                                {% endif %}
                            {% endblock %}
                        </td>
                        <td class="text-right">
                            <ul class="menu menu--inline menu--customer-account menu--actions">
                                <li class="menu__item">
                                    <a class="menu__link" href="{{ path('customer/order/details', {'id': order.idSalesOrder}) }}">
                                        {{ 'customer.order.view_order' | trans }}
                                    </a>
                                </li>

                                {% if widgetExists('CustomerReorderWidgetPlugin') %}
                                    <li class="menu__item">
                                        {% include molecule('remote-form-submit') with {
                                            data: {
                                                label: 'customer.order.reorder' | trans,
                                                buttonClass: 'menu__link',
                                            },
                                            attributes: {
                                                'form-name': 'customerReorderWidgetForm_' ~ order.idSalesOrder,
                                                'form-action': path('customer/order/reorder', {'idSalesOrder': order.idSalesOrder}),
                                                'field-id': 'customerReorderWidgetForm__token_' ~ order.idSalesOrder,
                                                'field-name': 'customerReorderWidgetForm[_token]',
                                                'field-value': csrf_token('customerReorderWidgetForm'),
                                            },
                                        } only %}
                                    </li>
                                {% else %}
                                    {% include molecule('customer-reorder-link', 'CustomerReorderWidget') ignore missing with {
                                        data: {
                                            idSalesOrder: order.idSalesOrder,
                                        },
                                    } only %}
                                {% endif %}

                                {% embed molecule('return-create-link', 'SalesReturnPage') ignore missing with {
                                    data: {
                                        orderReference: order.orderReference,
                                    },
                                } only %}
                                    {%- block extraClass %} menu__link{% endblock -%}

                                    {% block component %}
                                        <li class="menu__item">
                                            {{ parent() }}
                                        </li>
                                    {% endblock %}
                                {% endembed %}

                                {% widget 'OrderCancelButtonWidget' args [order, data.requestUri] only %}
                                    {% block formContent %}
                                        {% set buttonClasses = 'menu__link' %}
                                        <li class="menu__item">
                                            {{ parent() }}
                                        </li>
                                    {% endblock %}
                                {% endwidget %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
