{% extends atom('node') %}

{% define config = {
    name: 'navigation-multilevel-node',
    tag: 'li'
} %}

{% block body %}
    {{ parent() }}
    {% if data.node.children is not empty %}
        <ul class="{{ config.name }}__menu menu">
            {% for childNode in data.node.children %}
                {% set hasChildren = childNode.children | length > 0 %}

                {% include molecule('navigation-multilevel-node') with {
                    class: 'menu__item' ~ ' ' ~ config.name ~ '__child' ~ ' ' ~ childNode.cssClass,
                    data: {
                        node: childNode
                    }
                } only %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block url %}
    <a class="{{ config.name }}__link" href="{{ data.node.url }}">{{ data.node.title }}</a>
{% endblock %}

{% block link %}
    <a class="{{ config.name }}__link" href="{{ data.node.url }}">{{ data.node.title }}</a>
{% endblock %}

{% block externalUrl %}
    <a class="{{ config.name }}__link" href="{{ data.node.url }}" target="_blank">{{ data.node.title }}</a>
{% endblock %}

{% block other %}
    {{ data.node.title }}
{% endblock %}
