{% extends model('component') %}

{% define config = {
    name: 'banner-jumbotron',
    tag: 'section',
} %}

{% define data = {
    banner: banner,
    isBannerClickable: isBannerClickable | default(true),
} %}

{% block body %}
    {% set backgroundImage = data.banner.imageUrl ? 'background-image: url(' ~ data.banner.imageUrl ~ ');' %}

    <div class="{{ config.name }}__container grid grid--center grid--middle" style="{{ backgroundImage }}">
        {% if data.isBannerClickable %}
            <a href="{{ data.banner.clickUrl }}" class="{{ config.name }}__link"></a>
        {% endif %}
        <div class="col col--sm-12">
            <h1 class="{{ config.name }}__title">{{ data.banner.title | raw }}</h1>
            <p class="{{ config.name }}__text">{{ data.banner.subtitle | raw }}</p>
        </div>
    </div>
{% endblock %}
