{% extends model('component') %}

{% define config = {
    name: 'cart-block'
} %}

{% define data = {
    quote: app['quote'],
    cartItems: app['cartItems'],
} %}

{% block body %}
    <h2 class="title title--mini-cart title--with-border">{{ 'cart.cart' | trans }}</h2>
    {% if data.cartItems is not empty %}
        {% set optionPrice = 0 %}

        {% widget 'QuoteConfiguredBundleWidget'
            args [data.quote]
            use view('quote-configured-bundle-mini-cart', 'ConfigurableBundleWidget')
            with {
            data: {
                isEditable: true,
            },
        } only %}{% endwidget %}

        {% set productBundleItemCounterWidget = findWidget('ProductBundleItemCounterWidget', [data.quote]) %}
        {% set transformedCartItems = productBundleItemCounterWidget.items | default(data.cartItems) %}

        {% for item in transformedCartItems if not item.configuredBundleItem %}
            {% embed molecule('product-card-item') with {
                modifiers: ['mini-cart', 'readonly'],
                data: {
                    productItem: item
                }
            } only %}
                {% block options %}
                    {% set optionPrice = 0 %}

                    {% for option in data.productItem.productOptions %}
                        {% set optionPrice = optionPrice + option.unitPrice %}
                    {% endfor %}

                    {% if optionPrice %}
                        <div class="grid grid--middle grid--justify {{ component.renderClass(config.name ~ '__option', modifiers) }}">
                            <span class="col">
                                {{ 'cart.product-option' | trans }}:
                            </span>
                            <span class="col">{{ optionPrice | money }}</span>
                        </div>
                    {% endif %}

                    {% for attributeName, attribute in data.productItem.concreteAttributes %}
                        <div class="{{ component.renderClass(config.name ~ '__option', modifiers) }}">
                            {{ ('product.attribute.' ~ attributeName) | trans }}: {{ attribute }}
                        </div>
                    {% endfor %}
                {% endblock %}

                {% block quantity %}
                    <div class="{{ component.renderClass(config.name ~ '__option', modifiers) }}">
                        {{ 'cart.item_quantity' | trans }}: {{ data.productItem.quantity }}
                    </div>
                {% endblock %}

                {% block bundles %}{% endblock %}
                {% block summary %}{% endblock %}
            {% endembed %}
        {% endfor %}

        {% if data.quote.totals.discounttotal %}
            <div class="{{ config.name }}__total grid grid--middle grid--justify">
                <strong class="{{ config.name }}__total-text col">{{ 'cart.discounts' | trans }}</strong>
                <strong class="{{ config.name }}__total-text col">- {{ data.quote.totals.discounttotal | money }}</strong>
            </div>
        {% endif %}

        <div class="{{ config.name }}__total grid grid--middle grid--justify">
            <strong class="{{ config.name }}__total-text col">{{ 'cart.total' | trans }}</strong>
            <strong class="{{ config.name }}__total-text col">{{ data.quote.totals.grandTotal | money }}</strong>
        </div>

        {% set canProceedToCheckout = data.quote.items is not empty
            and (not is_granted('IS_AUTHENTICATED_FULLY')
            or can('WriteSharedCartPermissionPlugin', data.quote.idQuote))
        %}

        {% if canProceedToCheckout %}
            <div class="{{ config.name }}__buttons-container grid grid--middle grid--justify">
                <a href="{{ url('cart') }}" class="{{ config.name }}__button button button--hollow col">{{ 'cart.cart' | trans }}</a>
                <a class="{{ config.name }}__button button col" href="{{ url('checkout-index') }}" {{qa('cart-go-to-checkout')}}>
                    {{ 'cart.checkout' | trans }}
                </a>
            </div>
        {% endif %}
    {% endif %}

    {% if data.quote.items is empty %}
        <p class="{{ config.name }}__empty-text">{{ 'cart_widget.empty_text' | trans }}</p>
    {% endif %}
{% endblock %}
