{% extends atom('checkbox', '@SprykerShop:ShopUi') %}

{% block body %}
    {% set iconName = 'check' %}

    <label class="{{ config.name }}__container" {{ qa('label') }}>
        <input class="{{ config.name }}__input {% block inputClass %} {{- data.inputClass -}} {% endblock %}" {{ component.renderAttributes(attributes) }}>
        <span class="{{ config.name }}__box"></span>
        {% block icon %}
            {% include atom('icon') with {
                class: config.name ~ '__' ~ iconName,
                data: {
                    name: iconName,
                },
            } only %}
        {% endblock %}

        {%- block labelContainer -%}
            <span class="{{ config.name }}__label {% block labelClass %}{% endblock %}">
                {%- block label -%}{{ data.label }}{%- endblock -%}
            </span>
        {%- endblock -%}
    </label>
{% endblock %}
