{% extends model('component') %}

{% define config = {
    name: 'filter-section',
    tag: 'section'
} %}

{% define data = {
    facets: [],
    filterPath: null,
    categories: [],
    togglerClass: '',
    isEmptyCategoryFilterValueVisible: null
} %}

{% block body %}
    <div class="{{ config.name }}__top-panel is-hidden-lg-xl">
        <h3 class="text-center title title--medium spacing-bottom">{{ 'catalog.filter.filter' | trans }}</h3>
        <span class="{{ config.name }}__top-panel-button {{ data.togglerClass }}">
            {% include atom('icon') with {
                data: {
                    name: 'close'
                }
            } only %}
        </span>

        <div class="grid grid--justify grid--no-wrap {{ config.jsName }}__sorting"></div>
    </div>
    {% for filter in data.facets %}
        {% set filterHasValues = (filter.values is not defined) or (filter.values | length > 0) %}

        {% if filterHasValues %}
            {% block filters %}
                <h6>{{ ('product.filter.' ~ filter.name | lower) | trans }}</h6>
                {% include [
                    molecule('filter-' ~ filter.config.name, 'CatalogPage'),
                    molecule('filter-' ~ filter.config.type, 'CatalogPage')
                    ] ignore missing with {
                    data: {
                        filterPath: data.filterPath,
                        categories: data.categories,
                        filter: filter,
                        parameter: filter.config.parameterName | default(''),
                        min: filter.min | default(0),
                        max: filter.max | default(0),
                        activeMin: filter.activeMin | default(0),
                        activeMax: filter.activeMax | default(0),
                        isEmptyCategoryFilterValueVisible: data.isEmptyCategoryFilterValueVisible
                    }
                } only %}
            {% endblock %}
        {% endif %}
    {% endfor %}
    {% include molecule('toggler-accordion') with {
        attributes: {
            trigger: '.' ~ config.jsName ~ '__trigger',
        }
    } only %}
    <div class="{{ config.name }}__actions">
        <button type="submit" class="button button--large button--expand">
            {{ 'catalog.filter.button' | trans }}
        </button>
    </div>
{% endblock %}
