{% extends model('component') %}

{% define config = {
    name: 'filter-section',
    tag: 'section'
} %}

{% define data = {
    facets: [],
    filterPath: null,
    categories: [],
    togglerClass: ''
} %}

{% block body %}
    {% for filter in data.facets %}
        {% set filterHasValues = (filter.values is not defined) or (filter.values | length > 0) %}

        {% if filterHasValues %}
            <div class="{{ config.name }}__item">
                <div
                    class="{{ config.name }}__title {{ config.jsName }}__title-trigger"
                    data-toggle-target=".js-{{ filter.name }}"
                >
                    {{ ('product.filter.' ~ filter.name | lower) | trans }}
                </div>

                {% include [
                    molecule('filter-' ~ filter.config.name, 'CatalogPage'),
                    molecule('filter-' ~ filter.config.type, 'CatalogPage')
                ] ignore missing with {
                    class: 'js-' ~  filter.name ~ ' is-hidden spacing-bottom spacing-bottom--big',
                    data: {
                        filterPath: data.filterPath,
                        categories: data.categories,
                        filter: filter,
                        parameter: filter.config.parameterName | default(''),
                        min: filter.min | default(0),
                        max: filter.max | default(0),
                        activeMin: filter.activeMin | default(0),
                        activeMax: filter.activeMax | default(0)
                    }
                } only %}
            </div>
        {% endif %}
    {% endfor %}

    {% include molecule('toggler-accordeon') with {
        attributes: {
            trigger: '.' ~ config.jsName ~ '__title-trigger',
            'class-to-toggle': 'is-hidden'
        }
    } only %}

    <div class="grid grid--justify grid--middle {{ config.name }}__actions">
        <span class="col {{ config.name }}__close-popup {{ data.togglerClass }}">
            {% include atom('icon') with {
                data: {
                    name: 'close'
                }
            } only %}
        </span>

        <button type="submit" class="col button button--black {{ config.name }}__button">
            {{ 'catalog.filter.button' | trans }}
        </button>
    </div>
{% endblock %}
