{% extends template('page-layout-checkout', 'CheckoutPage') %}

{% define data = {
    breadcrumbs: _view.stepBreadcrumbs.breadcrumbs | default([]),
    transfer: _view.quoteTransfer,
    cartItems: _view.cartItems,
    shippingAddress: _view.quoteTransfer.shippingAddress,
    billingAddress: _view.quoteTransfer.billingAddress,
    shipmentMethod: _view.quoteTransfer.shipment.method,
    shipmentMethodName: _view.quoteTransfer.shipment.method.carrierName | trans,
    payment: _view.quoteTransfer.payment,
    paymentMethodName: _view.quoteTransfer.payment.dummyPayment.cardType,

    forms: {
        summary: _view.summaryForm
    },

    overview: {
        shipmentMethod: _view.quoteTransfer.shipment.method.name,
        voucherDiscounts: _view.quoteTransfer.voucherDiscounts,
        cartRuleDiscounts: _view.quoteTransfer.cartRuleDiscounts,

        prices: {
            subTotal: _view.quoteTransfer.totals.subtotal,
            storeCurrency: _view.quoteTransfer.shipment.method.storeCurrencyPrice,
            grandTotal: _view.quoteTransfer.totals.grandtotal,
            tax: _view.quoteTransfer.totals.taxtotal.amount,
            discountTotal: _view.quoteTransfer.totals.discounttotal | default(null)
        }
    },

    title: null
} %}

{% block content %}
    <div class="checkout-layout checkout-layout--summary-step checkout-layout--full-width">
        <div class="grid form--checkout-grid-indent">
            <div class="col col--sm-12 col--lg-6">
                <div class="checkout-layout__summary-item-wrap">
                    <h5 class="form__checkout-title">{{ 'checkout.step.address.title' | trans }}</h5>
                    <div class="grid">
                        <div class="col col--sm-12 col--md-6">
                            <strong>{{ 'page.checkout.summary.shipping' | trans }}</strong>
                            {% include molecule('display-address', 'CheckoutPage') with {
                                class: 'text-small',
                                data: {
                                    address: data.shippingAddress
                                }
                            } only %}

                            {% for step in data.breadcrumbs %}
                                {% if step.title == 'checkout.step.address.title' %}
                                    <a href="{{url(step.route)}}" class="checkout-layout__summary-item-edit">{{ 'general.edit.button' | trans }}</a>
                                {% endif %}
                            {% endfor %}

                        </div>
                        <div class="checkout-layout__summary-address-indent col col--sm-12 col--md-6">
                            <strong>{{ 'page.checkout.address.billing-address' | trans }}</strong>
                            {% include molecule('display-address', 'CheckoutPage') with {
                                class: 'text-small',
                                data: {
                                    address: data.billingAddress
                                }
                            } only %}

                            {% for step in data.breadcrumbs %}
                                {% if step.title == 'checkout.step.address.title' %}
                                    <a href="{{url(step.route)}}" class="checkout-layout__summary-item-edit">{{ 'general.edit.button' | trans }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="checkout-layout__summary-item-wrap">
                    <h5 class="form__checkout-title">{{ 'checkout.step.summary.shipping' | trans }}</h5>
                    {% if data.shipmentMethodName == 'DHL' %}
                        <div class="form__checkout-summary-heading form__checkout-summary-heading--indent">
                            <img class="form__checkout-summary-heading-img" src="/assets/images/shipment-checkout.step.shipment.provider.a.png" width="65" height="10" alt="DHL">
                        </div>
                    {% endif %}
                    {% if data.shipmentMethodName == 'Hermes' %}
                        <div class="form__checkout-summary-heading form__checkout-summary-heading--indent">
                            <img class="form__checkout-summary-heading-img" src="/assets/images/shipment-checkout.step.shipment.provider.b.png" width="65" height="10" alt="Hermes">
                        </div>
                    {% endif %}
                    <ul class="list">
                        <li class="list__item">{{ data.shipmentMethod.carrierName | trans }}</li>
                        <li class="list__item">{{ data.shipmentMethod.name }} {{ data.shipmentMethod.storeCurrencyPrice | money }}</li>
                    </ul>

                    {% for step in data.breadcrumbs %}
                        {% if step.title == 'checkout.step.shipment.title' %}
                            <a href="{{url(step.route)}}" class="checkout-layout__summary-item-edit">{{ 'general.edit.button' | trans }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="checkout-layout__summary-item-wrap">
                    <h5 class="form__checkout-title">{{ 'checkout.step.summary.payment' | trans }}</h5>
                    {% if data.paymentMethodName == 'Visa' %}
                        <div class="form__checkout-summary-heading form__checkout-summary-heading--indent">
                            <img class="form__checkout-summary-heading-img" src="/assets/images/logo-visa.png" width="50" height="18" alt="Visa">
                        </div>
                    {% endif %}
                    {% if data.paymentMethodName == 'Master Card' %}
                        <div class="form__checkout-summary-heading form__checkout-summary-heading--indent">
                            <img class="form__checkout-summary-heading-img" src="/assets/images/logo-mastercard.png" width="29" height="22" alt="Mastercard">
                        </div>
                    {% endif %}
                    <ul class="list">
                        <li class="list__item">{{data.payment.paymentSelection | trans}}</li>
                        {% if data.payment.paymentSelection == 'dummyPaymentCreditCard' %}
                            {% set partOfCardNumder = data.payment.dummyPayment.cardNumber[(data.payment.dummyPayment.cardNumber | length)-3:] %}
                            <li class="list__item">{{ 'dummyPaymentCreditCard.card_type' | trans }}: {{ data.payment.dummyPayment.cardType }}</li>
                            <li class="list__item">{{ 'dummyPaymentCreditCard.card_number' | trans }}: *********{{ partOfCardNumder }}</li>
                            <li class="list__item">{{ 'dummyPaymentCreditCard.name_on_card' | trans }}: {{ data.payment.dummyPayment.nameOnCard }}</li>
                            <li class="list__item">{{ 'dummyPaymentCreditCard.card_expires' | trans }}: {{ data.payment.dummyPayment.cardExpiresMonth }}, {{ data.payment.dummyPayment.cardExpiresYear }}</li>
                        {% endif %}
                    </ul>

                    {% for step in data.breadcrumbs %}
                        {% if step.title == 'checkout.step.payment.title' %}
                            <a href="{{url(step.route)}}" class="checkout-layout__summary-item-edit">{{ 'general.edit.button' | trans }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="col col--sm-12 col--lg-6 checkout-layout__summary-right">
                <div class="checkout-layout__summary-item-wrap">
                    <h5 class="form__checkout-title"> {{ 'page.checkout.summary.products' | trans }}</h5>
                    <div class="summary-product-list">
                        {% for item in data.cartItems %}
                            {% set item = item.bundleProduct is defined ? item.bundleProduct : item %}
                            {% set firstImage = item.images | first %}
                            {% include molecule('summary-item', 'CheckoutPage') with {
                                class: 'checkout-layout__summary-product-list-item',
                                data: {
                                    cartItem: item,
                                    name: item.name,
                                    image: firstImage.externalUrlSmall,
                                    quantity: item.quantity,
                                    options: item.productOptions | default({}),
                                    bundleItems: item.bundleItems | default([])
                                }
                            } only %}
                        {% endfor %}
                    </div>
                </div>
                <div class="checkout-layout__summary-item-wrap">
                    <h5 class="form__checkout-title">{{ 'checkout.step.summary.total' | trans }}</h5>
                    {{ widget('CartNoteQuoteNoteWidgetPlugin', data.transfer) }}
                    {{ widget('CheckoutVoucherFormWidgetPlugin', data.transfer, 'test') }}

                    {% include molecule('summary-overview', 'CheckoutPage') with {
                        data: data.overview
                    } only %}

                    {% include molecule('form') with {
                        class: 'checkout-buttons',
                        data: {
                            form: data.forms.summary,
                            submit: {
                                enable: true,
                                text: 'checkout.step.place.order' | trans,
                                class: 'button button--black button--big button--expand'
                            }
                        }
                    } only %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
