{% extends template('page-layout-checkout', 'CheckoutPage') %}

{% define data = {
    backUrl: _view.previousStepUrl,
    transfer: _view.quoteTransfer,
    cartItems: _view.cartItems,
    shippingAddress: _view.quoteTransfer.shippingAddress,
    billingAddress: _view.quoteTransfer.billingAddress,
    shipmentMethod: _view.quoteTransfer.shipment.method.name,
    paymentMethod: _view.quoteTransfer.payment.paymentMethod,

    forms: {
        summary: _view.summaryForm
    },

    overview: {
        shipmentMethod: _view.quoteTransfer.shipment.method.name,
        voucherDiscounts: _view.quoteTransfer.voucherDiscounts,
        cartRuleDiscounts: _view.quoteTransfer.cartRuleDiscounts,

        prices: {
            subTotal: _view.quoteTransfer.totals.subtotal,
            storeCurrency: _view.quoteTransfer.shipment.method.storeCurrencyPrice,
            grandTotal: _view.quoteTransfer.totals.grandtotal,
            tax: _view.quoteTransfer.totals.taxtotal.amount,
            discountTotal: _view.quoteTransfer.totals.discounttotal | default(null)
        }
    },

    title: 'checkout.step.summary.title' | trans
} %}

{% block content %}
    <div class="checkout-layout">
        <div class="grid">
            <div class="col col--sm-12 col--lg-4">
                <div class="summary-address">
                    <div class="summary-address__title">
                        <h5>{{ 'checkout.step.summary.payment' | trans }}</h5>
                        {{ 'checkout.step.summary.with_method' | trans }} <strong>{{data.paymentMethod}}</strong>
                    </div>
                    {% include molecule('display-address') with {
                        class: 'text-small',
                        data: {
                            address: data.billingAddress
                        }
                    } only %}
                </div>
                <div class="summary-address">
                    <div class="summary-address__title">
                        <h5>{{ 'checkout.step.summary.shipping' | trans }}</h5>
                        {{ 'checkout.step.summary.with_method' | trans }} <strong>{{ data.shipmentMethod }}</strong>
                    </div>
                    {% include molecule('display-address') with {
                        class: 'text-small',
                        data: {
                            address: data.shippingAddress
                        }
                    } only %}
                </div>
            </div>

            <div class="col col--sm-12 col--lg-8 summary-right">
                <table class="summary-product-list">
                    <tr>
                        <th class="text-left" colspan="2">Product</th>
                        <th class="text-center">Qty</th>
                        <th class="text-right">Sum</th>
                    </tr>
                    {% for item in data.cartItems %}
                        {% set item = item.bundleProduct is defined ? item.bundleProduct : item %}
                        {% set firstImage = item.images | first %}
                        {% include molecule('summary-item', 'CheckoutPage') with {
                            class: 'summary-product-list',
                            data: {
                                name: item.name,
                                image: firstImage.externalUrlSmall,
                                quantity: item.quantity,
                                price: item.sumPrice | money,
                                options: item.productOptions | default({}),
                                bundleItems: item.bundleItems | default([])
                            }
                        } only %}
                    {% endfor %}
                </table>

                {{ widget('CartNoteQuoteNoteWidgetPlugin', data.transfer) }}

                <div class="grid">
                    <div class="col col--sm-6 summary-voucher">
                        {{ widget('CheckoutVoucherFormWidgetPlugin', data.transfer) }}
                    </div>

                    {% include molecule('summary-overview', 'CheckoutPage') with {
                        class: 'col col--sm-6 summary-overview',
                        data: data.overview
                    } only %}
                </div>
            </div>

            {% include molecule('form') with {
                class: 'col col--sm-12',
                data: {
                    form: data.forms.summary,
                    submit: {
                        enable: true,
                        text: 'checkout.step.place.order' | trans
                    },
                    cancel: {
                        enable: true,
                        url: data.backUrl,
                        text: 'general.back.button' | trans
                    }
                }
            } only %}

        </div>
    </div>
{% endblock %}
