{% extends view('summary', '@SprykerShop:CheckoutPage') %}

{% define data = {
    payment: _view.quoteTransfer.payment,
} %}

{% block content %}
    {% set isGiftCardExists = null %}

    <div class="grid">
        <h2 class="title title--primary col col--sm-12">{{ 'checkout.step.summary.title' | trans }}</h2>

        {% for shipmentGroup in data.shipmentGroups %}
            <article class="checkout-block grid col col--sm-12">
                <div class="col col--sm-12 col--lg-7">
                    <h3 class="title title--secondary-box">
                        {{ 'page.checkout.shipment.shipment_group_heading' | trans({
                            '%current%': loop.index,
                            '%total%': loop.length
                        }) }}
                    </h3>
                    {% widget 'QuoteConfiguredBundleWidget' args [data.cart, shipmentGroup.items] with {
                        data: {
                            isEditable: false,
                            isQuantityVisible: true,
                        },
                    } only %}
                    {% endwidget %}

                    {% set itemsExceptConfiguredBundles = shipmentGroup.cartItems | filter(item => item.configuredBundleItem is not defined or item.configuredBundleItem is empty) %}

                    {% for item in itemsExceptConfiguredBundles %}
                        {% set cartItem = item.bundleProduct ?? item %}
                        {% set isGiftCardExists = cartItem.giftCardMetadata is not null and cartItem.giftCardMetadata.isGiftCard %}

                        {% embed molecule('product-card-item') with {
                            modifiers: ['expand', 'secondary', 'alternative', 'right-indent-from-tablet'],
                            data: {
                                productItem: cartItem,
                                canEditCart: false,
                                additionalContainerClass: '',
                                productOptionsModifiers: ['alternative'],
                            },
                            embed: {
                                bundleItems: item.bundleItems | default([]),
                            },
                        } only %}
                            {% import _self as component %}
                            {% block image %}
                                <div class="{{ component.renderClass(config.name ~ '__image', modifiers) }} col">
                                    {% include molecule('product-image') with {
                                        modifiers: ['no-side-indent'],
                                        data: {
                                            name: data.productItem.name,
                                            image: data.productItem.images[0].externalUrlLarge ?? null,
                                        },
                                    } only %}
                                </div>
                            {% endblock %}

                            {% block title %}
                                <div class="{{ component.renderClass(config.name ~ '__title', modifiers) }} col col--sm-12 col--lg-8">
                                    {{ data.productItem.name }}
                                </div>
                            {% endblock %}

                            {% block options %}
                                {% if data.productItem.concreteAttributes is not empty %}
                                    <ul>
                                        {% for key, item in data.productItem.concreteAttributes %}
                                            <li>{{ ('product.attribute.' ~ key) | trans }}: {{ item }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endblock %}

                            {% block bundles %}
                                {% include molecule('cart-bundle-list', 'ProductBundleWidget') ignore missing with {
                                    data: {
                                        items: embed.bundleItems,
                                    },
                                } only %}
                            {% endblock %}

                            {% block productConfigurationContent %}
                                {% set hasStatus = false %}

                                {{ parent() }}
                            {% endblock %}

                            {% block productConfigurationButton %}{% endblock %}
                        {% endembed %}
                    {% endfor %}
                </div>

                <div class="col col--sm-12 col--lg-5">
                    {% include molecule('summary-sidebar', 'CheckoutPage') with {
                        data: {
                            shipmentGroup: shipmentGroup,
                            shipmentExpenses: data.shipmentExpenses,
                            isGiftCardExists: isGiftCardExists,
                            canEdit: true,
                        },
                    } only %}
                </div>
            </article>
        {% endfor %}
    </div>

    <div class="checkout-block">
        <h3 class="title title--secondary-box">{{ 'checkout.step.summary.payment' | trans }}</h3>
        <div class="grid grid--justify grid--baseline">
            <div class="col col--sm-12 col--md-5">
                {% include molecule('payment-card-information', 'CheckoutPage') with {
                    data: {
                        payment: data.payment,
                        cart: data.cart,
                    },
                } only %}
            </div>
            <div class="col col--sm-12 col--md-5">
                <h4 class="title title--secondary-small">{{ 'checkout.step.summary.billing_address' | trans }}</h4>
                {% include molecule('display-address') with {
                    class: 'spacing-bottom',
                    data: {
                        address: data.billingAddress,
                    },
                } only %}
                <a class="link link--secondary" href="{{ url('checkout-address') }}">{{ 'general.edit.button' | trans }}</a>
            </div>
        </div>
    </div>

    <div class="grid">
        <h3 class="col col--sm-12 title title--secondary-box spacing-bottom spacing-bottom--reset spacing-top spacing-top-bigger">
            {{ 'checkout.step.summary.total' | trans }}
        </h3>
        <div class="col col--sm-12">
            {% widget 'CartCodeFormWidget' args [data.transfer] only %}{% endwidget %}

            {% embed molecule('form') with {
                modifiers: ['checkout-actions'],
                data: {
                    form: data.forms.summary,
                    submit: {
                        enable: data.isPlaceableOrder,
                        text: 'checkout.step.place.order' | trans,
                        class: 'form__action--checkout button button--large button--expand js-form__submit-button',
                    },
                    cancel: {
                        enable: true,
                        url: data.backUrl,
                        text: 'general.back.button' | trans,
                        icon: '',
                        class: 'form__action--checkout button button--hollow button--expand',
                    },
                },
                embed: {
                    overview: data.overview,
                    cart: data.cart,
                    acceptTermsFieldName: data.acceptTermsFieldName,
                    isPlaceableOrderErrors: data.isPlaceableOrderErrors,
                },
            } only %}
                {% block field %}
                    {% if fieldName == embed.acceptTermsFieldName %}
                        {{ form_row(field, {
                            component: molecule('accept-terms-checkbox', 'CheckoutPage'),
                            label: field.vars.label,
                            rowAttr: {
                                class: 'spacing-bottom spacing-bottom--bigger',
                            },
                            attributes: {
                                'target-class-name': config.jsName ~ '__submit-button',
                            },
                        }) }}
                    {% else %}
                        {{ parent() }}
                    {% endif %}
                {% endblock %}

                {% block body %}
                    {% include molecule('summary-overview', 'CheckoutPage') with {
                        data: embed.overview,
                        embed: {
                            cart: embed.cart,
                        },
                    } only %}

                    {{ parent() }}

                    {% if embed.isPlaceableOrderErrors is not empty %}
                        <hr>
                        <ul class="list list--alert">
                            {% for error in embed.isPlaceableOrderErrors %}
                                <li class="list__item">{{ error.message | trans(error.parameters) }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
