{# @deprecated This component is deprecated. Use molecule('display-address') instead. #}
{% extends model('component') %}

{% define config = {
    name: 'display-address',
    tag: 'ul',
} %}

{% define data = {
    address: required,
} %}

{% block class %}
    list
{% endblock %}

{% block body %}
    <li class="list__item">{{ data.address.salutation }} {{ data.address.firstName }} {{ data.address.lastName }}</li>

    {% if data.address.company is not empty %}
        <li class="list__item">{{ data.address.company }}</li>
    {% endif %}

    <li class="list__item">{{ data.address.address1 }} {{ data.address.address2 }}</li>
    <li class="list__item">{{ data.address.address3 }}</li>
    <li class="list__item">{{ data.address.zipCode }} {{ data.address.city }}, {{ ('countries.iso.' ~ data.address.iso2code) | trans }}</li>

    {% if data.address.phone is not empty %}
        <li class="list__item">{{ data.address.phone }}</li>
    {% endif %}
{% endblock %}
