{% extends model('component') %}

{% define config = {
    name: 'summary-sidebar',
} %}

{% define data = {
    shipment: required,
    isGiftCardExists: false,
    canEdit: false,
} %}

{% block body %}
    {% set shippingAddress = data.shipment.shippingAddress %}
    {% set fullShippingAddress = shippingAddress.salutation ~ ' ' ~ shippingAddress.firstName ~ ' ' ~
        shippingAddress.lastName ~ ', ' ~ shippingAddress.address1 ~ ' ' ~ shippingAddress.address2 ~ ', ' ~
        shippingAddress.zipCode ~ ' ' ~ shippingAddress.city %}

    <div class="{{ config.name }}__item">
        <h4 class="title title--secondary-small">{{ 'checkout.step.summary.delivery_address' | trans }}</h4>
        <div class="{{ config.name }}__text">{{ fullShippingAddress }}</div>

        {% if data.canEdit %}
            <a class="link link--secondary spacing-top spacing-top--big" href="{{ url('checkout-address') }}">{{ 'general.edit.button' | trans }}</a>
        {% endif %}
    </div>

    {% if not data.isGiftCardExists %}
        <div class="{{ config.name }}__item">
            <h4 class="title title--secondary-small">{{ 'checkout.step.summary.delivery_method' | trans }}</h4>
            <h4 class="title title--secondary-small spacing-bottom grid grid--justify grid--middle">
                <span class="col col--sm-7">{{ data.shipment.method.carrierName | trans }}</span>
                <span class="{{ config.name }}__logo col">
                    <img class="{{ config.name }}__logo-image" src="{{ publicPath('images/shipment-' ~ data.shipment.method.carrierName | replace({' ': ''}) ~ '.png') }}" alt="{{ data.shipment.method.carrierName }}">
                </span>
            </h4>
            <div class="{{ config.name }}__text">{{ data.shipment.method.name }}: {{ data.shipment.method.storeCurrencyPrice | money(true, data.shipment.method.currencyIsoCode) }}</div>

            {% if data.canEdit %}
                <a class="link link--secondary spacing-top spacing-top--big" href="{{ url('checkout-shipment') }}">{{ 'general.edit.button' | trans }}</a>
            {% endif %}
        </div>

        <div class="{{ config.name }}__item">
            <h4 class="title title--secondary-small">{{ 'checkout.step.summary.requested_delivery_date' | trans }}</h4>
            {% if data.shipment.requestedDeliveryDate %}
                <div class="{{ config.name }}__text">{{ data.shipment.requestedDeliveryDate | formatDate }}</div>
            {% endif %}
            {% if data.canEdit %}
                <a class="link link--secondary spacing-top spacing-top--big" href="{{ url('checkout-shipment') }}">{{ 'general.edit.button' | trans }}</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
