{% extends template('widget') %}

{% define data = {
    idProductAbstract: _widget.idProductAbstract
} %}

{% block rating %}
    {% include molecule('rating-selector', 'ProductReviewWidget') with {
        data: {
            value: _widget.productReviewStorageTransfer.averageRating | default(0),
            reviewCount: _widget.productReviewStorageTransfer.reviewCount | default(''),
            maxValue: _widget.maximumRating
        },
        attributes: {
            readonly: true
        }
    } only %}
{% endblock %}

{% block body %}
    <div class="pdp-review">
        <div class="product-slider-title pdp-review__title">
            <h2 class="product-slider-title__text">{{ 'product_review.ratings_reviews' | trans }}</h2>
            <div class="product-slider-title__line"></div>
            <div class="is-hidden-sm-md">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <span class="product-slider-title__link js-new-review-form__trigger">
                        {{ 'product_review.submit.add_a_review' | trans }}
                    </span>
                {% else %}
                    <a class="product-slider-title__link" href="{{ path('login') }}">
                        {{ 'product_review.submit.add_a_review' | trans }}
                    </a>
                {% endif %}
            </div>
        </div>

        {% include molecule('toggler-click') with {
            attributes: {
                'trigger-selector': '.js-new-review-form__trigger',
                'target-selector': '.js-new-review-form__target',
                'class-to-toggle': 'is-hidden'
            }
        } only %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ render(path('product-review/submit', {'idProductAbstract': data.idProductAbstract})) }}
        {% endif %}

        {{ render(path('product-review/index', {'idProductAbstract': data.idProductAbstract})) }}
    </div>
{% endblock %}
