{% extends template('widget') %}

{% define data = {
    idProductAbstract: _widget.idProductAbstract,
    form: _widget.form,
    showSuccessMessage: true,
    action: 'product-review/create',
    reviews: _widget.productReviews,
    summary: _widget.summary,
    ratingMaxValue: _widget.maximumRating,
    hasCustomer: _widget.hasCustomer,

    pagination: {
        parameters: app.request.query.all(),
        currentPage: _widget.pagination.currentPage,
        paginationPath: app.request.getPathInfo(),
        maxPage: _widget.pagination.maxPage,
        showAlwaysFirstAndLast: true,
        anchor: 'product-reviews'
    }
} %}

{% block rating %}
    {% include molecule('rating-selector', 'ProductReviewWidget') with {
        data: {
            value: _widget.productReviewStorageTransfer.averageRating | default(0),
            reviewCount: _widget.productReviewStorageTransfer.reviewCount | default(''),
            maxValue: _widget.maximumRating
        },
        attributes: {
            readonly: true
        }
    } only %}
{% endblock %}

{% block body %}
    <div class="pdp-review">
        {% embed molecule('product-slider-title') with {
            modifiers: ['pdp-review'],
            data: {
                title: 'product_review.ratings_reviews' | trans
            }
        } only %}
            {% block subContent %}
                <div class="{{ config.name }}__sub-col is-hidden-sm-md">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <span class="link link--custom-underline js-new-review-form__trigger">
                            {{ 'product_review.submit.add_a_review' | trans }}
                        </span>
                    {% else %}
                        <a class="link link--custom-underline" href="{{ path('login') }}">
                            {{ 'product_review.submit.add_a_review' | trans }}
                        </a>
                    {% endif %}
                </div>
            {% endblock %}
        {% endembed %}

        {% include molecule('toggler-click') with {
            attributes: {
                'trigger-class-name': 'js-new-review-form__trigger',
                'target-class-name': 'js-new-review-form__target',
            },
        } only %}

        {% if is_granted('ROLE_USER') %}
            <div class="is-hidden js-new-review-form__target">
                {% if data.showSuccessMessage %}
                    <div class="box box--success">
                        {{ 'product_review.submit.success' | trans }}
                    </div>
                {% endif %}

                {% include molecule('new-review-form', 'ProductReviewWidget') with {
                    data: {
                        form: data.form,
                        action: url(data.action, {idProductAbstract: data.idProductAbstract})
                    }
                } only %}
            </div>
        {% endif %}

        {% include organism('review-summary', 'ProductReviewWidget') with {
            data: {
                reviews: data.reviews,
                summary: data.summary,
                ratingMaxValue: data.ratingMaxValue,
                hasCustomer: data.hasCustomer,
                pagination: data.pagination
            }
        } only %}
    </div>
{% endblock %}
