{% extends template('widget') %}

{% define data = {
    idProductAbstract: _widget.idProductAbstract,
    form: _widget.form,
    action: 'product-review/create',
    reviews: _widget.productReviews,
    summary: _widget.summary,
    ratingMaxValue: _widget.maximumRating,
    hasCustomer: _widget.hasCustomer,

    pagination: {
        parameters: app.request.query.all(),
        currentPage: _widget.pagination.currentPage,
        paginationPath: app.request.getPathInfo(),
        maxPage: _widget.pagination.maxPage,
        showAlwaysFirstAndLast: true,
        anchor: 'product-reviews',
    },
} %}

{% block rating %}
    {% include molecule('rating-selector', 'ProductReviewWidget') with {
        data: {
            value: _widget.productReviewStorageTransfer.averageRating | default(0),
            reviewCount: _widget.productReviewStorageTransfer.reviewCount | default,
            maxValue: _widget.maximumRating,
        },
        attributes: {
            readonly: true,
        },
    } only %}
{% endblock %}

{% block newReviewForm %}
    {% include molecule('new-review-form', 'ProductReviewWidget') with {
        data: {
            form: data.form,
            action: url(data.action, { idProductAbstract: data.idProductAbstract }),
        },
    } only %}
{% endblock %}

{% block body %}
    {% set openReviewFormTriggerClassName = 'js-pdp-review__add-review' %}

    <div class="pdp-review">
        {% embed molecule('product-slider-title') with {
            class: 'js-pdp-review-trigger',
            modifiers: ['pdp-review'],
            data: {
                title: 'product_review.ratings_reviews' | trans,
            },
            embed: {
                openReviewFormTriggerClassName: openReviewFormTriggerClassName,
            },
        } only %}
            {% block subContent %}
                <div class="{{ config.name }}__sub-col is-hidden-sm-md">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <button type="button" class="{{ embed.openReviewFormTriggerClassName }} link link--custom-underline">
                            {{ 'product_review.submit.add_a_review' | trans }}
                        </button>
                    {% else %}
                        <a class="link link--custom-underline" href="{{ path('login') }}">
                            {{ 'product_review.submit.add_a_review' | trans }}
                        </a>
                    {% endif %}
                </div>
            {% endblock %}
        {% endembed %}

        {% include molecule('main-popup') with {
            modifiers: ['big'],
            data: {
                title: 'product_review.submit.add_a_review' | trans,
                content: block('newReviewForm'),
            },
            attributes: {
                'content-id': 'new-review-form',
                'trigger-class-name': openReviewFormTriggerClassName,
            },
        } only %}

        {% include organism('review-summary', 'ProductReviewWidget') with {
            data: {
                reviews: data.reviews,
                summary: data.summary,
                ratingMaxValue: data.ratingMaxValue,
                hasCustomer: data.hasCustomer,
                pagination: data.pagination,
                openReviewFormTriggerClassName: openReviewFormTriggerClassName,
            },
        } only %}
    </div>
{% endblock %}
