{% extends model('component') %}

{% define config = {
    name: 'navigation-slider',
    tag: 'navigation-slider'
} %}

{% define data = {
    slides: [],
    containerClass: ''
} %}

{% define attributes = {
    'data-json': ''
} %}

{% block body %}

    <ul class="{{config.name}}__container {{ data.containerClass }}">
        {% block slides %}
            {% for slide in data.slides %}
                <li class="nav-header-mobile__item">
                    {% if slide.url is empty %}
                        {{ slide.title }}
                    {% else %}
                        <a href="{{ slide.url }}">{{ slide.title }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        {% endblock %}
    </ul>

{% endblock %}

