{% extends molecule('wishlist-overview-table', '@SprykerShop:WishlistPage') %}

{% block wishlistDeleteAction %}
    {% if wishlistDeleteForm %}
        {{ form_start(wishlistDeleteForm, { action: path('wishlist/delete', { wishlistName: wishlist.name}), name: 'wishlistDeleteForm_' ~ wishlist.name }) }}
            <button class="table-action-list__link" data-init-single-click>
                {{ 'customer.account.wishlist.overview.delete' | trans }}
            </button>
        {{ form_end(wishlistDeleteForm) }}
    {% endif %}
{% endblock %}

{% block body %}
    <table class="table table--expand table--responsive">
        <thead>
            <tr>
                <th>{{ 'customer.account.wishlist.overview.name' | trans }}</th>
                <th>{{ 'customer.account.wishlist.overview.item_count' | trans }}</th>
                <th>{{ 'customer.account.wishlist.overview.date' | trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for wishlist in data.wishlists %}
                {% set hasWishlistForm = data.wishlistForm is not empty and wishlist.idWishlist == data.wishlistForm.vars.data.idWishlist %}
                
                <tr class="table__tr table__tr--with-border">
                    <td class="transform-cell transform-cell--spacing-top" data-content="{{ 'customer.account.wishlist.overview.name' | trans }}">
                        {% if hasWishlistForm %}
                            {{ form_start(data.wishlistForm) }}
                                <div class="grid grid--desktop-nowrap">
                                    <div class="col">
                                        {{ form_widget(data.wishlistForm.name, {
                                            attr: {
                                                placeholder: 'customer.account.wishlist.overview.enter_name' | trans,
                                            },
                                        }) }}
                                    </div>
                                    <div class="col">
                                        <button class="button button--combined">
                                            {{ 'wishlist.form.save' | trans }}
                                        </button>
                                    </div>
                                </div>

                                {{ form_errors(data.wishlistForm) }}
                            {{ form_end(data.wishlistForm) }}
                        {% else %}
                            <a href="{{ path('wishlist/details', { wishlistName: wishlist.name }) }}">{{ wishlist.name }}</a>
                        {% endif %}
                    </td>
                    <td class="transform-cell" data-content="{{ 'customer.account.wishlist.overview.item_count' | trans }}">
                        {{ wishlist.numberOfItems | executeFilterIfExists('formatInt', app.locale) }}
                    </td>
                    <td class="transform-cell transform-cell--spacing-bottom" data-content="{{ 'customer.account.wishlist.overview.date' | trans }}">
                        {{ wishlist.createdAt | formatDate }}
                    </td>
                    <td class="table__actions">
                        {% set wishlistDeleteForm = data.wishlistDeleteFormClone.getForm.createView ?? null %}
                        {% import _self as macros %}

                        {% include molecule('table-action-list') with {
                            data: {
                                items: [
                                    {
                                        url: url('wishlist/update', { wishlistName: wishlist.name }),
                                        title: 'customer.account.wishlist.overview.edit' | trans,
                                        available: not hasWishlistForm,
                                    },
                                    {
                                        customAction: block('wishlistDeleteAction'),
                                    },
                                ],
                            },
                        } only %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
