{% extends model('component') %}

{% define config = {
    name: 'search-cms-sort'
} %}

{% define data = {
    pagination: _view.pagination
} %}

{% block body %}
    <div class="grid grid--middle grid--justify">
        <div class="{{ config.name }}__title col">
            {{ data.pagination.numFound }} {{ "cms.page.itemsFound" | trans }}
        </div>

        <div class="col grid grid--middle">
            {% block selects %}
                <div class="col">
                    {% block label %}
                        <label class="{{ config.name }}__label is-hidden-sm-md">
                            {{ 'cms.page.filter.per' | trans }}:
                        </label>
                    {% endblock %}

                    {% embed molecule('custom-select') with {
                        modifiers: ['hollow'],
                        attributes: {
                            name: 'ipp',
                            'config-theme': 'secondary',
                            'data-form-submitter': '',
                        },
                        embed: {
                            pagination: data.pagination,
                        },
                    } only %}
                        {% block options %}
                            {% for limit in embed.pagination.config.validItemsPerPageOptions %}
                                <option value="{{ limit }}" {% if limit == embed.pagination.currentItemsPerPage %}selected{% endif %}>
                                    {{ limit }}
                                </option>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </div>

                <div class="col">
                    {% embed molecule('custom-select') with {
                        modifiers: ['hollow'],
                        attributes: {
                            name: 'sort',
                            'config-theme': 'secondary',
                            'data-form-submitter': '',
                        },
                        embed: {
                            sort: _view.sort,
                        },
                    } only %}
                        {% block options %}
                            <option value="">
                                {{ 'cms.page.sort.relevance' | trans }}
                            </option>

                            {% for sortParamName in embed.sort.sortParamNames %}
                                {% set isSelected = sortParamName == embed.sort.currentSortParam %}

                                <option value="{{ sortParamName }}" {% if isSelected %}selected{% endif %}>
                                    {{ ('cms.page.sort.' ~ sortParamName) | trans }}
                                </option>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
