{% extends template('page-layout-checkout', 'CheckoutPage') %}

{% define data = {
    forms: {
        address: _view.addressesForm,
        shipping: _view.addressesForm.shippingAddress,
        billing: _view.addressesForm.billingAddress
    },

    title: null
} %}

{% block contentClass %}
    page-layout-checkout--address-step
{% endblock %}

{% block content %}
    {% embed molecule('form') with {
        modifiers: ['checkout-address-step', 'checkout-actions', 'checkout-form-elements'],
        data: {
            form: data.forms.address,
            submit: {
                enable: true,
                text: 'checkout.step.shipment' | trans,
                class: 'form__action--checkout button  button--large button--expand'
            }
        },
        embed: {
            parentJsClass: 'js-address',
            forms: {
                shipping: data.forms.shipping,
                billing: data.forms.billing
            }
        }
    } only %}
        {% block fields %}
            <h2 class="title title--checkout">{{ 'page.checkout.address.shipping-address' | trans }}</h2>
            {% set existingShippingAddresses = data.form.shippingAddress.id_customer_address is defined %}
            {% set hasShippingAddresses = data.form.shippingAddress.id_customer_address is defined %}

            {% if hasShippingAddresses %}
                <div class="grid col">
                    <div class="form__field col col--sm-12 spacing-x spacing-x--inner spacing-x--reset">
                        <ul class="list spacing-y">
                            <li class="list__item spacing-y">
                                {{
                                    form_row(embed.forms.shipping.id_customer_address, {
                                        component: molecule('select')
                                    })
                                }}
                            </li>

                        </ul>
                    </div>
                </div>
            {% endif %}

            {% include molecule('form') with {
                class: embed.parentJsClass ~ '__shipping' ~ (hasShippingAddresses ? ' is-hidden' : ''),
                modifiers: ['grid-indent', 'checkout-form-elements'],
                data: {
                    class: 'col col--sm-6',
                    form: embed.forms.shipping,
                    enableStart: false,
                    enableEnd: false,
                    layout: {
                        salutation: 'col col--md-3',
                        first_name: 'col col--md-4',
                        last_name: 'col col--md-5',
                        address1: 'col col--md-8',
                        address2: 'col col--md-4',
                        zip_code: 'col col--md-3',
                        city: 'col col--md-5',
                        iso2_code: 'col col--md-4'
                    },
                    submit: {
                        enable: false
                    },
                    cancel: {
                        enable: false
                    }
                }
            } only %}

            <h2 class="title title--checkout">{{'page.checkout.address.billing-address' | trans}}</h2>
            <div class="grid">
                <div class="col col--sm-12">
                    {{form_row(data.form.billingSameAsShipping, {
                        component: molecule('toggler-checkbox'),
                        attributes: {
                            'target-selector': '.' ~ embed.parentJsClass ~ '__billing-same-as-shipping',
                            'class-to-toggle': 'is-hidden',
                            'add-class-when-checked': true
                        },
                        'label': 'page.checkout.address.billing-same-as-shipping' | trans
                    })}}

                    {% embed molecule('form') with {
                        class: 'is-hidden spacing-top spacing-top--big ' ~ embed.parentJsClass ~  '__billing-same-as-shipping',
                        modifiers: ['grid-indent', 'checkout-form-elements'],
                        data: {
                            form: embed.forms.billing,
                            enableStart: false,
                            enableEnd: false,
                            layout: {
                                salutation: 'col col--md-3',
                                first_name: 'col col--md-4',
                                last_name: 'col col--md-5',
                                address1: 'col col--md-8',
                                address2: 'col col--md-4',
                                zip_code: 'col col--md-3',
                                city: 'col col--md-5',
                                iso2_code: 'col col--md-4'
                            },
                            submit: {
                                enable: false
                            },
                            cancel: {
                                enable: false
                            }
                        },
                        embed: {
                            parentJsClass: embed.parentJsClass ~ '__billing'
                        }
                    } only %}
                        {% block fields %}
                            {% set existingBillingAddresses = data.form.id_customer_address is defined %}
                            {% set hasBillingAddresses = data.form.id_customer_address is defined %}

                            {% if hasBillingAddresses %}
                                <div class="form__field col col--sm-12">
                                    <ul class="list spacing-y">
                                        <li class="list__item spacing-y">
                                            {{
                                                form_row(data.form.id_customer_address, {
                                                    component: molecule('select')
                                                })
                                            }}
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}

                            <div class="{{ embed.parentJsClass }}">
                                {{parent()}}
                            </div>
                        {% endblock %}
                    {% endembed %}
                </div>
            </div>

        {% endblock %}
        {% block actions %}
            <div class="grid grid--middle grid--justify">
                <div class="col">
                    {% if data.form.isAddressSavingSkipped is defined %}
                        {% set companyBusinessUnitAddressWidget = findWidget('CompanyBusinessUnitAddressWidget', ['shippingAddress', embed.forms.shipping.vars.data]) %}
                        {% set hasCompanyBusinessUnitAddress =  companyBusinessUnitAddressWidget and companyBusinessUnitAddressWidget.isApplicable %}

                        {% if not hasCompanyBusinessUnitAddress %}
                            {% set existingShippingAddressSelectSelector = embed.forms.shipping.id_customer_address is defined ? '[name="' ~ embed.forms.shipping.id_customer_address.vars.full_name ~ '"]' : '' %}
                            {% set existingBillingAddressSelectSelector = embed.forms.shipping.id_customer_address is defined ? '[name="' ~ embed.forms.billing.id_customer_address.vars.full_name ~ '"]' : '' %}
                        {% else %}
                            {% set existingShippingAddressSelectSelector = '.js-form-select-address__shippingAddress' %}
                            {% set existingBillingAddressSelectSelector = '.js-form-select-address__billingAddress' %}
                        {% endif %}

                        {% include molecule('address-form-toggler', 'CustomerPage') ignore missing with {
                            attributes: {
                                'trigger-selector': existingShippingAddressSelectSelector | default(''),
                                'target-selector': '.js-address__shipping',
                                'class-to-toggle': 'is-hidden',
                                'has-company-business-unit-address': hasCompanyBusinessUnitAddress ? 'true' : 'false'
                            }
                        } only %}

                        {% include molecule('address-form-toggler', 'CustomerPage') ignore missing with {
                            attributes: {
                                'trigger-selector': existingBillingAddressSelectSelector | default(''),
                                'target-selector': '.js-address__billing',
                                'class-to-toggle': 'is-hidden',
                                'has-company-business-unit-address': hasCompanyBusinessUnitAddress ? 'true' : 'false'
                            }
                        } only %}

                        {% include molecule('save-new-address', 'CustomerPage') ignore missing with {
                            class: 'col is-hidden',
                            data: {
                                form: data.form
                            },
                            attributes: {
                                'shipping-address-toggler-selector': embed.forms.shipping.id_customer_address is defined ? '[name="' ~ embed.forms.shipping.id_customer_address.vars.full_name ~ '"]' : '',
                                'billing-address-toggler-selector': embed.forms.billing.id_customer_address is defined ? '[name="' ~ embed.forms.billing.id_customer_address.vars.full_name ~ '"]' : '',
                                'billing-same-as-shipping-toggler-selector': '[name="' ~ data.form.billingSameAsShipping.vars.full_name ~ '"]',
                                'save-address-toggler-selector': '[name="' ~ data.form.isAddressSavingSkipped.vars.full_name ~ '"]',
                                'add-new-shipping-address-selector': '.js-form-add-new-address__shippingAddress' | default (''),
                                'add-new-billing-address-selector': '.js-form-add-new-address__billingAddress' | default ('')
                            }
                        } only %}
                    {% endif %}
                </div>
                <div class="col">
                    {{ parent() }}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
