{% extends model('component') %}

{% define config = {
    name: 'variant'
} %}

{% define data = {
    name: required,
    formName: required,
    values: required,
    selectedValue: null,
    label: '',
    isAvailable: true,
    autoInitSelect: false
} %}

{% block body %}
    {% embed molecule('toggler-item') with {
        modifiers: modifiers | merge(['with-top-border', 'option']),
        data: {
            title: data.label,
            isToggler: false,
        },
        embed: {
            selectedValue: data.selectedValue,
            isAvailable: data.isAvailable,
            formName: data.formName,
            values: data.values,
            autoInitSelect: data.autoInitSelect
        }
    } only %}
        {% block contentText %}
            {% if embed.selectedValue is null %}
                {% if embed.isAvailable %}
                    {% embed molecule('custom-select') with {
                        modifiers: ['expand'],
                        attributes: {
                            name: embed.formName,
                            'auto-init': embed.autoInitSelect
                        },
                        embed: {
                            values: embed.values,
                            jsClass: config.jsName ~ '__select-trigger'
                        }
                    } only %}
                        {% block selectClass -%}
                            {{ parent() }} {{ embed.jsClass }}
                        {%- endblock %}
                        {% block options %}
                            <option>{{ 'product.attribute._none' | trans }}</option>
                            {% for value in embed.values %}
                                <option value="{{value}}">{{value}}</option>
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                    {% include molecule('form-submitter') with {
                        attributes: {
                            'trigger-selector': '.' ~ config.jsName ~ '__select-trigger'
                        }
                    } only %}
                {% else %}
                    {{ 'product.attribute.not_available' | trans }}
                {% endif %}
            {% else %}
                {{embed.selectedValue}}
                <a href="?" class="spacing-left">
                    {%- include atom('icon') with {
                        modifiers: ['secondary'],
                        data: {
                            name: 'close'
                        }
                    } only -%}
                </a>
                <input type="hidden" name="{{embed.formName}}" value="{{embed.selectedValue}}" />
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
