{% extends model('component') %}

{% define config = {
    name: 'jumbotron',
    tag: 'section'
} %}

{% define data = {
    imageUrl: null,
    bgColor: null,
    textColor: null,
    headline: 'global.spryker.shop' | trans,
    subHeadline: 'global.spryker.motto' | trans
} %}

{% set backgroundImage = data.imageUrl is empty ?: 'background-image: url(' ~ data.imageUrl ~ '); ' %}
{% set backgroundColor = data.bgColor is empty ?: 'background-color: ' ~ data.bgColor ~ '; ' %}
{% set textColor = data.textColor is empty ?: 'color: ' ~ data.textColor ~ ';' %}

{% block body %}
    <div class="{{config.name}}__container grid grid--center grid--middle" style="{{backgroundImage}}{{backgroundColor}}{{textColor}}">
        <a href="{{ data.link }}" class="{{ config.name }}__link"></a>
        <div class="col col--sm-12">
            <h1 class="{{config.name}}__headline">{{ data.headline }}</h1>
            <h4 class="{{config.name}}__sub-headline">{{ data.subHeadline }}</h4>
        </div>
    </div>
{% endblock %}
