{% extends molecule('jumbotron', '@SprykerShop:ShopUi') %}

{% block body %}
    {% set backgroundImage = data.imageUrl ?? '' %}

    {% if backgroundImage or backgroundColor %}
        {% include molecule('lazy-image') with {
            modifiers: ['full-size-background', 'reset-background-position'],
            data: {
                imageSrc: backgroundImage,
                isBackground: true,
                extraAttributes: {
                    style: backgroundColor,
                },
            },
        } only %}
    {% endif %}

    <div class="container">
        <div class="{{ component.renderClass(config.name ~ '__inner', modifiers) }} grid grid--center grid--middle" style="{{ textColor }}">
            <h1 class="{{ component.renderClass(config.name ~ '__headline', modifiers) }}">{{ data.headline }}</h1>
            <h4 class="{{ component.renderClass(config.name ~ '__sub-headline', modifiers) }}">{{ data.subHeadline }}</h4>
        </div>
    </div>
{% endblock %}
