{% extends model('component') %}

{% define config = {
    name: 'quantity-counter',
    tag: 'quantity-counter'
} %}

{% define data = {
    maxQuantity: null,
    minQuantity: 1,
    value: 1,
    readOnly: false,
    autoUpdate: false
} %}

{% block body %}
    {% set maxQuantity = data.maxQuantity < 0 or data.maxQuantity < data.minQuantity ? null : data.maxQuantity %}
    <div class="{{ config.name }}__container grid grid--middle">
        <div class="col">
            <div class="{{ config.name }}__button {{ config.name }}__button--sm js-quantity-decr">-</div>
        </div>
        <div class="col">
            <input
                class="{{ config.name }}__input input"
                data-max-quantity="{{ maxQuantity }}"
                type="number"
                value="{{data.value}}"
                name="quantity"
                min="{{data.minQuantity}}"
                {{qa('quantity-input')}}
                {% if maxQuantity is not empty %}max="{{maxQuantity}}"{% endif %}
                {% if data.readOnly %}readonly{% endif %}
                {% if data.autoUpdate %}data-auto-update="true"{% endif %}/>
        </div>
        <div class="col">
            <div class="{{ config.name }}__button {{ config.name }}__button--sm js-quantity-incr">+</div>
        </div>
    </div>
{% endblock %}
