{% extends template('widget') %}

{% define config = {
    name: 'cart-bundle'
} %}

{% define data = {
    items: _widget.bundleItems
} %}

{% block body %}
    {% set d = [] %}
    {% if data.items %}
        <div class="{{ config.name }}">
            <ul class="{{ config.name }}__list">
                {% for item in data.items %}
                    <li class="{{ config.name }}__list-item">
                        {% if (item.images|first).externalUrlSmall is defined %}
                            {% include atom('thumbnail') with {
                                attributes: {
                                    alt: item.name,
                                    src: (item.images|first).externalUrlSmall,
                                    title: item.name
                                }
                            } only %}
                        {% endif %}
                        <p class="{{ config.name }}__item-title">
                            {{ item.name }}
                            <span class="{{ config.name }}__item-quantity">{{ item.quantity }}x </span>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
