{% extends model('component') %}

{% define config = {
    name: 'side-drawer',
    tag: 'side-drawer'
} %}

{% define attributes = {
    'trigger-selector': required,
    'container-selector': '',
} %}

{% block body %}
    <div class="{{config.name}}__overlay {{attributes['trigger-selector']}}"></div>

    <aside class="{{config.name}}__drawer">
        {% block close %}
            <div class="{{config.name}}__close">
                <a href="#" class="link link--alt {{attributes['trigger-selector']}}">
                    {{'global.close' | trans}}
                    {% include atom('icon') with {
                        data: {
                            name: 'times'
                        }
                    } only %}
                </a>
            </div>
        {% endblock %}

        <div class="{{config.name}}__navigation">
            {{ widgetGlobal('NavigationWidgetPlugin', 'MAIN_NAVIGATION', view('navigation-main-mobile', 'ShopLayout')) }}
            <hr />
            {% include organism('navigation-top') with {
                class: 'text-left',
                data: {
                    isInline: false,
                    withSeparators: false
                }
            } only %}
        </div>

        {{block('close')}}
    </aside>
{% endblock %}
