{% extends model('component') %}

{% define config = {
    name: 'side-drawer',
    tag: 'side-drawer'
} %}

{% define attributes = {
    'trigger-selector': required,
    'container-selector': '',
} %}

{% block body %}
    <div class="{{ config.name }}__overlay {{ attributes['trigger-selector'] }}"></div>

    <aside class="{{ component.renderClass(config.name ~ '__drawer', modifiers) }}">
        <div class="{{ config.name }}__top-bar grid grid--justify">
            {% block topBar %}
                <div class="col grid">
                    <div class="col">
                        {% widget 'LanguageSwitcherWidget' args [
                            app.request.pathInfo,
                            app.request.queryString,
                            app.request.requestUri
                        ] only %}
                            {% block body %}
                                {% define data = {
                                    additionalModifiers: ['hollow', 'header', 'side-drawer']
                                } %}
                                {{ parent() }}
                            {% endblock %}
                        {% endwidget %}
                    </div>
                    <div class="col">
                        {%- widget 'CurrencyWidget' only -%}
                            {% block body %}
                                {% define data = {
                                    additionalModifiers: ['hollow', 'header', 'side-drawer']
                                } %}
                                {{ parent() }}
                            {% endblock %}
                        {%- endwidget -%}
                    </div>
                </div>
            {% endblock %}

            {% block close %}
                <button class="col link {{ config.name }}__close {{ attributes['trigger-selector'] }}">
                    {% include atom('icon') with {
                        modifiers: ['medium-up'],
                        data: {
                            name: 'close',
                        },
                    } only %}
                </button>
            {% endblock %}
        </div>

        {% block content %}
            {% block mobileNavigation %}
                <div class="{{ config.name }}__navigation">
                    {% widget 'NavigationWidget' args ['MAIN_NAVIGATION', 'navigation-header-mobile'] %}{% endwidget %}
                </div>
            {% endblock %}
        {% endblock %}

        {% block bottomBar %}
            <div class="{{ config.name }}__bottom-bar">
                <a href="{{ url('logout') }}" class="button button--hollow button--expand">{{ 'customer.logout' | trans }}</a>
            </div>
        {% endblock %}
    </aside>
{% endblock %}
