{% extends view('payment', '@SprykerShop:CheckoutPage') %}

{% block content %}
    {% embed molecule('form') with {
        modifiers: ['checkout-actions', 'checkout-form-elements'],
        data: {
            form: data.forms.payment,
            submit: {
                enable: true,
                text: 'checkout.step.summary' | trans,
                class: 'form__action--checkout button  button--large button--expand',
            },
            cancel: {
                enable: true,
                url: data.backUrl,
                text: 'general.back.button' | trans,
                class: 'form__action--checkout button button--hollow button--expand',
            },
        },
    } only %}
        {% block fieldset %}
            {% for name, choices in data.form.paymentSelection.vars.choices %}
                {% set paymentProviderIndex = loop.index0 %}

                {% embed molecule('list-switches') with {
                    modifiers: ['register-type', 'layout-width'],
                    data: {
                        form: data.form.paymentSelection,
                        choices: choices,
                        rowAttrClass: 'toggler-radio--with-bg',
                        targetClassName: 'js-payment-method-',
                        providerIndex: paymentProviderIndex,
                    },
                } only %}
                    {% block item %}
                        {{ parent() }}

                        {% if key == 0 %}
                            <div class="{{ config.name }}__img-wrap">
                                <img class="{{ config.name }}__img" src="{{ publicPath('images/logo-visa.png') }}" alt="Visa">
                                <img class="{{ config.name }}__img" src="{{ publicPath('images/logo-mastercard.png') }}" alt="Mastercard">
                            </div>
                        {% endif %}
                    {% endblock %}
                {% endembed %}

                {% for key, choice in choices %}
                    {% embed molecule('form') with {
                        class: 'spacing-bottom spacing-bottom--bigger',
                        modifiers: ['grid-indent', 'checkout-form-elements'],
                        data: {
                            form: data.form[data.form.paymentSelection[key].vars.value],
                            enableStart: false,
                            enableEnd: false,
                            layout: {
                                'card_number': 'col col--sm-12 col--lg-6',
                                'name_on_card': 'col col--sm-12 col--lg-6',
                                'card_expires_month': 'col col--sm-12 col--md-6 col--lg-3 col--bottom',
                                'card_expires_year': 'col col--sm-12 col--md-6 col--lg-3 col--bottom',
                                'card_security_code': 'col col--sm-12 col--lg-6 col--bottom',
                            },
                        },
                        embed: {
                            index: loop.index ~ '-' ~ paymentProviderIndex,
                            toggler: data.form.paymentSelection[key],
                        },
                    } only %}
                        {% block fieldset %}
                            <div class="js-payment-method-{{ embed.index }} {% if embed.index != '1-0' %} is-hidden{% endif %}">
                                <h2 class="title title--primary">{{ embed.toggler.vars.label | trans }}</h2>
                                {{ parent() }}
                            </div>
                        {% endblock %}
                    {% endembed %}
                {% endfor %}
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
