{% extends model('component') %}

{% define config = {
    name: 'user-block'
} %}

{% block body %}
    <h4 class="{{ config.name }}__title">{{ 'customer.profile.title' | trans }}</h4>
    <div class="{{ config.name }}__inner-box">
        <a class="{{ config.name }}__link" href="{{ url('customer/overview') }}">{{ 'checkout.step.summary.overview' | trans }}</a>
        <a class="{{ config.name }}__link" href="{{ url('customer/order') }}">{{ 'customer.account.order_history' | trans }}</a>
        <a class="{{ config.name }}__link" href="{{ url('customer/profile') }}">{{ 'customer.profile.link' | trans }}</a>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_USER') %}
        <a href="{{ url('logout') }}" class="{{ config.name }}__link {{ config.name }}__link--sm">{{ 'customer.logout' | trans }}</a>
    {% else %}
        <div class="grid grid--middle grid--justify {{ config.name }}__buttons-container">
            <a href="{{ url('register') }}" class="{{ config.name }}__button button button--white col">{{ 'checkout.customer.auth_as_user' | trans }}</a>
            <a href="{{ url('login') }}" class="{{ config.name }}__button button button--black col">{{ 'global.login' | trans }}</a>
        </div>
    {% endif %}
{% endblock %}
