{% extends template('widget') %}

{% define data = {
    productViews: productViews,
    productSet: productSet,
} %}

{% block body %}
    {% embed organism('product-set-cms-content', 'ProductSetWidget') ignore missing with {
        data: {
            products: data.productViews,
            name: data.productSet.name,
            description: data.productSet.description,
            images: data.productSet.imageSets.0.images | default([]),
        },
    } only %}
        {% block header %}
            {% block title %}
                {% include molecule('product-slider-title') with {
                    modifiers: ['set'],
                    data: {
                        title: data.name,
                    },
                } only %}
            {% endblock %}

            {% block description %}
                {% if data.description %}
                    <p>{{ data.description }}</p>
                {% endif %}
            {% endblock %}
        {% endblock %}

        {% block productSet %}
            <form method="GET">
                {% embed molecule('slick-carousel') with {
                    data: {
                        slides: data.products,
                    },
                    attributes: {
                        'data-json': data.sliderConfig,
                        'custom-select-selector': '.custom-select',
                    },
                    modifiers: ['product-set', 'product-set-secondary'],
                } only %}

                    {% block slides %}
                        {% for product in data.slides %}
                            {% embed molecule('product-card') with {
                                modifiers: ['stretch', 'product-set', 'widget'],
                                data: {
                                    name: product.name,
                                    abstractId: product.idProductAbstract,
                                    url: product.url,
                                    imageUrl: product.images.0.externalUrlSmall | default,
                                    price: product.price,
                                    originalPrice: product.prices['ORIGINAL'] | default,
                                },
                                embed: {
                                    product: product,
                                },
                            } only %}
                                {% block content %}
                                    {{parent()}}
                                    {% set isNotAvailable = embed.product.idProductConcrete and not embed.product.available %}

                                    {% embed molecule('variant-configurator', 'ProductDetailPage') with {
                                        data: {
                                            superAttributes: embed.product.attributeMap.superAttributes,
                                            selectedAttributes: embed.product.selectedAttributes,
                                            availableAttributes: embed.product.availableAttributes,
                                            useExternalForm: true,
                                        },
                                        embed: embed,
                                    } only %}
                                        {% block variant %}
                                            {% include molecule('variant', 'ProductDetailPage') with {
                                                data: {
                                                    name: name,
                                                    formName: 'attributes[' ~ embed.product.idProductAbstract ~ '][' ~ name ~ ']',
                                                    values: values,
                                                    selectedValue: selectedValue,
                                                    label: ('product.attribute.' ~ name) | trans,
                                                    isAvailable: isAvailable,
                                                    autoInitSelect: true,
                                                },
                                            } only %}
                                        {% endblock %}
                                    {% endembed %}
                                {% endblock %}
                            {% endembed %}
                        {% endfor %}
                    {% endblock %}
                {% endembed %}
            </form>
            {% include molecule('action-single-click-enforcer') with {
                attributes: {
                    'target-selector': 'js-product-set__add-to-cart',
                },
            } only %}
            <form method="POST" action="{{ path('cart/add-items') }}">
                {% set isDisabled = false %}

                {% for product in data.products %}
                    {% if product.idProductConcrete is not empty %}
                        {% if product.available %}
                            <input type="hidden" name="items[{{ loop.index }}][sku]" value="{{ product.sku }}">
                            <input type="hidden" name="items[{{ loop.index }}][quantity]" value="1">
                        {% endif %}
                    {% else %}
                        {% set isDisabled = true %}
                    {% endif %}
                {% endfor %}

                <button type="submit" class="button button--expand" data-init-single-click {% if isDisabled %}disabled{% endif %}>
                    {{ 'product.set.detail.add-all-to-cart' | trans }}
                </button>
            </form>
            <hr>
        {% endblock %}
    {% endembed %}
{% endblock %}
