{% block content %}
    <!-- CMS_BLOCK_PLACEHOLDER : "title" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "description" -->
    <div class="container">
        <div class="grid grid--justify grid--middle grid--spaced-lg inspirational-block inspirational-block--left">
            <div class="col col--lg-6 col--md-12 col--sm-12">
                <div class="inspirational-block__content inspirational-block__content--left">
                    {{ spyCmsBlockPlaceholder('title') | raw }}
                    <p class="inspirational-block__text">{{ spyCmsBlockPlaceholder('description') | raw }}</p>
                    <a href="{{ 'samsung.search.link' | trans }}" class="button button--hollow button--inspirational button--expand-mobile">{{ 'cms-product-group.category.link.text' | trans }}</a>
                </div>
            </div>
            <div class="col col--lg-6 col--md-12 col--sm-12">
                <div class="inspirational-block__images inspirational-block__images--right js-inspirational-block__images--2">
                    <div class="inspirational-block__image inspirational-block__image-1">
                        {% include molecule('lazy-image') with {
                            data: {
                                imageSrc: publicPath('images/inspire2-bottom.jpg'),
                            },
                        } only %}
                    </div>
                    <a href="{{ 'samsung.search.link' | trans }}" class="inspirational-block__image inspirational-block__image-2 inspirational-block__image-2--right js-inspirational-block__image-2--2">
                        {% include molecule('lazy-image') with {
                            data: {
                                imageSrc: publicPath('images/inspire2-main.jpg'),
                            },
                        } only %}
                    </a>
                </div>

                {% include molecule('scroll-parallax') with {
                    attributes: {
                        'wrapper-class-name': 'js-inspirational-block__images--2',
                        'target-class-name': 'js-inspirational-block__image-2--2',
                        'motion-direction': 'top',
                    },
                } only %}
            </div>
        </div>
    </div>
{% endblock %}
