{% block content %}
    <!-- CMS_BLOCK_PLACEHOLDER : "title" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "description" -->
    <div class="container">
        <div class="grid grid--justify grid--middle grid--spaced-lg inspire-block inspire-block--left">
            <div class="col col--lg-6 col--md-12 col--sm-12">

                <div class="inspire-block__content inspire-block__content--left">
                    {{ spyCmsBlockPlaceholder('title') | raw }}
                    <p class="inspire-block__text">{{ spyCmsBlockPlaceholder('description') | raw }}</p>
                    <a href="{{ 'samsung.search.link' | trans }}" class="inspire-block__link">{{ 'cms-product-group.category.link.text' | trans }}</a>
                </div>

            </div>
            <div class="col col--lg-6 col--md-12 col--sm-12">

                <div class="inspire-block__images inspire-block__images--right">
                    <div class="inspire-block__image inspire-block__image-1">
                        <img src="/assets/images/inspire2-bottom.jpg" alt="">
                    </div>
                    <a href="{{ 'samsung.search.link' | trans }}" class="inspire-block__image inspire-block__image-2 inspire-block__image-2--right">
                        <img src="/assets/images/inspire2-main.jpg" alt="">
                    </a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

