{% extends template('page-layout-customer', 'CustomerPage') %}

{% define data = {
    orders: _view.orderList,
    customer: _view.customer,
    billingAddress: _view.addresses.billing | default,
    shippingAddress: _view.addresses.shipping | default,
    billingAddressId: _view.addresses.billing.idCustomerAddress | default(''),
    shippingAddressId: _view.addresses.shipping.idCustomerAddress | default(''),

    title: 'customer.account.overview' | trans
} %}

{% block customerContent %}
    <div class="box">
        <div class="customer-account__box grid grid--justify grid--middle">
            <h5 class="customer-account__subtitle col">{{ 'customer.account.last_orders' | trans }}</h5>

            {% if data.orders is not empty %}
                <a href="{{url('customer/order')}}" class="col">
                    {{ 'customer.order.view_all' | trans }}
                </a>
            {% endif %}

        </div>

        {% include molecule('order-table', 'CustomerPage') with {
            data: {
                orders: data.orders
            }
        } only %}

    </div>

    <div class="grid grid--justify">
        <div class="col--lg-6 col--sm-12">
            <div class="box">
                <div class="customer-account__box grid grid--justify grid--middle box">
                    <h5 class="customer-account__subtitle col">{{ 'customer.account.profile_data' | trans }}</h5>
                    <a href="{{url('customer/profile')}}" class="col">
                        {{ 'general.edit.button' | trans }}
                    </a>
                </div>

                <ul class="menu menu--customer-account">
                    <li class="menu__item">{{ data.customer.firstName }} {{ data.customer.lastName }}</li>
                    <li class="menu__item"><a class="menu__link" href="mailto:{{ data.customer.email }}">{{ data.customer.email }}</a></li>
                </ul>
            </div>
        </div>

        <div class="col--lg-6 col--sm-12">
            <div class="box">
                {{ widget('NewsletterSubscriptionSummaryWidgetPlugin', data.customer) }}
            </div>
        </div>

        <div class="col--lg-6 col--sm-12">
            {% if data.billingAddress is not empty %}
                <div class="box">
                    <div class="customer-account__box grid grid--justify grid--middle box">
                        <h5 class="customer-account__subtitle col">{{ 'customer.account.default_billing_address' | trans }}</h5>
                        <a href="{{ url('customer/address/update', { id: data.billingAddressId }) }}" class="col">
                            {{ 'general.edit.button' | trans }}
                        </a>
                    </div>

                    {% include molecule('display-address', 'CustomerPage') with {
                        class: 'menu menu--customer-account',
                        modifiers: ['testing'],
                        data: {
                            address: data.billingAddress
                        }
                    } only %}

                </div>
            {% endif %}
        </div>

        <div class="col--lg-6 col--sm-12">
            {% if data.shippingAddress is not empty %}
                <div class="box">
                    <div class="customer-account__box grid grid--justify grid--middle box">
                        <h5 class="customer-account__subtitle col">{{ 'customer.account.default_shipping_address' | trans }}</h5>
                        <a href="{{ url('customer/address/update', { id: data.shippingAddressId }) }}" class="col">
                            {{ 'general.edit.button' | trans }}
                        </a>
                    </div>

                    {% include molecule('display-address', 'CustomerPage') with {
                        class: 'menu menu--customer-account',
                        modifiers: ['testing'],
                        data: {
                            address: data.shippingAddress
                        }
                    } only %}

                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
