{% extends model('component') %}

{% define config = {
    name: 'variant'
} %}

{% define data = {
    name: required,
    formName: required,
    values: required,
    selectedValue: null,
    label: '',
    isAvailable: true
} %}

{% block body %}
    <strong class="{{ config.name }}__label">{{data.label}}:</strong>
    {% if data.selectedValue is null %}
        {% if data.isAvailable %}
            {% embed molecule('custom-select') with {
                modifiers: ['hollow'],
                attributes: {
                    name: data.formName,
                    'config-theme': 'small',
                    'data-form-submitter': '',
                },
                embed: {
                    values: data.values,
                },
            } only %}
                {% block options %}
                    <option>{{ 'cart.select.default_value' | trans }}</option>
                    {% for value in embed.values %}
                        <option value="{{value}}">{{value}}</option>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% else %}
            {{ 'product.attribute.not_available' | trans }}
        {% endif %}
    {% else %}
        {% embed molecule('variant-resetter', 'ProductDetailPage') ignore missing with {
            class: 'grid grid--inline grid--middle',
            data: {
                formName: data.formName,
                selectedValue: data.selectedValue,
            },
        } only %}
            {% block selectedValue %}
                <span class="spacing-x spacing-x--big">
                    {{ data.selectedValue }}
                </span>
                <button type="button" class="link link--darkest link--edit {{ config.jsName }}__trigger">
                    {{- 'product.attribute.variant.reset' | trans -}}
                </button>
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endblock %}
