{% extends model('component') %}

{% define config = {
    name: 'variant',
    tag: 'div'
} %}

{% define data = {
    name: required,
    formName: required,
    values: required,
    selectedValue: null,
    label: '',
    isAvailable: true
} %}

{% block body %}
    <strong class="variant__title">{{data.label}}:</strong>
    {% if data.selectedValue is null %}
        {% if data.isAvailable %}
            {% embed atom('select') with {
                attributes: {
                    name: data.formName,
                    onchange: 'this.form.submit()'
                },
                embed: {
                    values: data.values
                }
            } only %}
                {% block options %}
                    <option>{{ 'cart.select.default_value' | trans }}</option>
                    {% for value in embed.values %}
                        <option value="{{value}}">{{value}}</option>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% else %}
            {{ 'product.attribute.not_available' | trans }}
        {% endif %}
    {% else %}
        {{data.selectedValue}} <a href="?">{{ 'Reset' | trans }}</a>
        <input type="hidden" name="{{data.formName}}" value="{{data.selectedValue}}" />
    {% endif %}
{% endblock %}
