{% extends template('page-layout-wishlist', 'WishlistPage') %}

{% define data = {
    wishlists: _view.wishlistOverview.meta.wishlistCollection.wishlists,
    wishlistName: _view.wishlistName,
    wishlistItems: _view.wishlistItems,
    addAllProductsToCart: _view.addAllAvailableProductsToCartForm,
    activeWishlistId: _view.wishlistOverview.wishlist.idWishlist,
    wishlistRemoveItemFormClone: _view.wishlistRemoveItemFormCloner,
    wishlistMoveToCartFormClone: _view.wishlistMoveToCartFormCloner,

    pagination: {
        currentPage: _view.currentPage,
        maxPage: _view.totalPages,
        paginationPath: 'wishlist/details',
        showAlwaysFirstAndLast: true,
        parameters: {
            wishlistName: _view.wishlistName,
        },
    },
} %}

{% block customerContent %}
    <div class="box">
        {% include molecule('title-box', 'CustomerPage') with {
            data: {
                title: data.wishlistName,
            },
        } only %}

        {% if data.wishlistItems is empty %}
            <div class="text-center">
                <h6>{{ 'customer.account.wishlist.empty' | trans }}</h6>
            </div>
        {% else %}
            {% include molecule('wishlist-detail-table', 'WishlistPage') with {
                data: {
                    wishlistItems: data.wishlistItems,
                    wishlistName: data.wishlistName,
                    wishlistRemoveItemFormClone: data.wishlistRemoveItemFormClone,
                    wishlistMoveToCartFormClone: data.wishlistMoveToCartFormClone,
                },
            } only %}

            {% include molecule('pagination') with {
                data: data.pagination,
            } only %}
        {% endif %}
    </div>

    <div class="box">
        <div class="grid grid--right">
            <div class="col col--expand text-right">
                {% if data.wishlistItems is not empty %}
                    {{ form_start(data.addAllProductsToCart, {
                        action: path('wishlist/move-all-available-to-cart', { wishlistName: data.wishlistName }),
                        attr: { class: '' },
                    }) }}

                    <button type="submit" class="button button--expand-mobile">
                        {{ 'customer.account.wishlist.add_all_available_to_cart' | trans }}
                    </button>

                    {% for wishlistItemMetaField in data.addAllProductsToCart.wishlistItemMetaCollection %}
                        {{ form_widget(wishlistItemMetaField) }}
                    {% endfor %}

                    {{ form_end(data.addAllProductsToCart) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
