{% extends model('component') %}

{% define config = {
    name: 'navigation-icon-list',
    tag: 'nav'
} %}

{% define data = {
    nodes: []
} %}

{% set menuClass = 'menu menu--inline' %}

{% block body %}
    <ul class="{{ menuClass }}">
        {% for node in data.nodes %}
            {% embed atom('node') with {
                class: 'menu__item' ~ (node.url ? '' : ' ' ~ node.cssClass),
                config: {
                    tag: 'li'
                },
                data: {
                    node: node
                }
            } only %}
                {% block url %}
                    <a class="link link--alt {{ data.node.cssClass }}" href="{{ data.node.url }}" title="{{ data.node.title }}">
                        {% include atom('icon') with {
                            modifiers: ['big', data.node.cssClass],
                            data: {
                                name: data.node.cssClass
                            }
                        } only %}
                    </a>
                {% endblock %}

                {% block externalUrl %}
                    <a class="link link--alt {{ data.node.cssClass }}" href="{{ data.node.url }}" target="_blank" title="{{ data.node.title }}">
                        {% include atom('icon') with {
                            modifiers: ['big', data.node.cssClass],
                            data: {
                                name: data.node.cssClass
                            }
                        } only %}
                    </a>
                {% endblock %}

                {% block other %}
                    {% include atom('icon') with {
                        modifiers: ['big', data.node.cssClass],
                        data: {
                            name: data.node.cssClass
                        }
                    } only %}
                {% endblock %}
            {% endembed %}
        {% endfor %}
    </ul>
{% endblock %}
