{% extends model('component') %}

{% define config = {
    name: 'cart-widget',
    tag: 'div'
} %}

{% define data = {
    products: []
} %}

{% block body %}

    <div class="{{ config.name }}__container">
        <h4 class="{{ config.name }}__title">{{ 'cart.cart' | trans }}</h4>
        {% if data.products is empty %}
            <p class="{{ config.name }}__empty-text">Your bag is empty. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
        {% endif %}
        <a href="/cart" class="button">View Cart</a>
        <a href="#" class="button">{{ 'cart.checkout' | trans }}</a>
    </div>


{% endblock %}