{% extends model('component') %}

{% define config = {
    name: 'summary-overview',
    tag: 'ul'
} %}

{% define data = {
    shipmentMethod: required,
    voucherDiscounts: [],
    cartRuleDiscounts: [],

    prices: {
        subTotal: required,
        storeCurrency: required,
        tax: required,
        grandTotal: required,
        discountTotal: null
    }
} %}

{% block body %}
    <li>
        <span class="float-right">{{ app['cart.quantity'] }} {{ 'checkout.step.summary.items' | trans }}</span>
        <h6>{{ 'checkout.step.summary.overview' | trans }}</h6>
    </li>
    {% block separator %}
        <li><hr /></li>
    {% endblock %}
    <li>
        {{ 'checkout.step.summary.sub_total' | trans }}
        <strong class="float-right">{{ data.prices.subTotal | money }}</strong>
    </li>
    {{block('separator')}}

    {% if data.prices.discountTotal %}
        {% if data.voucherDiscounts is not empty %}
            <li>
                <strong>{{ 'cart.vouchers' | trans }}</strong>
                {% for voucherDiscount in data.voucherDiscounts %}
                    <div class="grid grid--justify">
                        <span class="col col--sm-10">{{ voucherDiscount.displayName }}</span>
                        <span class="col col--expand text-right">{{ voucherDiscount.amount | money }}</span>
                    </div>
                {% endfor %}
            </li>
        {% endif %}

        {% if data.cartRuleDiscounts|length %}
            <li>
                <strong>{{ 'cart.discounts' | trans }}</strong>
                {% for ruleDiscount in data.cartRuleDiscounts %}
                    <div class="grid grid--justify">
                        <span class="col col--sm-10">{{ ruleDiscount.displayName }}</span>
                        <span class="col col--expand text-right">- {{ ruleDiscount.amount | money }}</span>
                    </div>
                {% endfor %}
            </li>
        {% endif %}

        {{block('separator')}}
    {% endif %}

    <li>
        <span class="float-right">{{ data.prices.storeCurrency | money }}</span>
        {{ 'checkout.step.summary.shipping' | trans }} (<strong>{{ data.shipmentMethod }}</strong>)
    </li>
    {{block('separator')}}
    <li>
        {{ 'checkout.step.summary.tax' | trans }}
        <span class="float-right">{{ data.prices.tax | money }}</span>
    </li>
    {{block('separator')}}
    <li>
        <h6 class="float-right">{{ data.prices.grandTotal | money }}</h6>
        <h6>{{ 'checkout.step.summary.grand_total' | trans }}</h6>
    </li>
{% endblock %}
