{% extends template('widget') %}

{% define data = {
    currencies: _widget.currencies,
    currentCurrency: _widget.currentCurrency,
    additionalModifiers: ['hollow', 'header'],
    additionalClassName: '',
} %}

{% block template %}
    {% if data.currencies is not empty %}
        {{parent()}}
    {% endif %}
{% endblock %}

{% block body %}
    <form method="GET" action="{{ path('currency-switch') }}">
        {% embed molecule('custom-select') with {
            modifiers: data.additionalModifiers,
            attributes: {
                name: 'currency-iso-code',
                'config-theme': 'secondary',
                'additional-class-name': data.additionalClassName,
                'data-form-submitter': '',
            },
            embed: {
                currencies: data.currencies,
                currentCurrency: data.currentCurrency,
            },
        } only %}
            {% block options %}
                {% for currency in embed.currencies %}
                    <option value="{{ currency.code }}" {{ (currency.code == embed.currentCurrency) ? 'selected' : ''}}>{{ currency.code | trans }}</option>
                {% endfor %}
            {% endblock %}
        {% endembed %}

        <input type="hidden" name="referrer-url" value="{{ app.request.requestUri }}"/>
    </form>
{% endblock %}
