{% extends model('component') %}

{% define config = {
    name: 'footer',
    tag: 'footer'
} %}

{% define data = {
    showNavigation: true
} %}

{% block body %}
    <div class="container">
        <div class="{{ config.name }}__top">
            {% embed molecule('toggler-item') with {
                modifiers: ['mobile'],
                class: config.name ~ '__subscription',
                data: {
                    title: 'global.newsletter' | trans,
                    triggerClass: config.jsName ~ '__trigger-subscription',
                    targetClass: config.jsName ~ '__target-subscription',
                    hiddenClass: 'is-hidden-sm-only',
                },
                embed: {
                   footerName : config.name,
                },
            } only %}
                {% block contentText %}
                    <span class="{{ embed.footerName }}__subscription-text">
                        {{- 'footer_subscribe.subscription_text' | trans -}}
                    </span>
                    <div class="spacing-bottom spacing-bottom--big">
                        {{- render(path('newsletter/subscribe')) -}}
                    </div>
                {% endblock %}
            {% endembed %}

            {% block footerNavigation %}
                {% include molecule('navigation-footer') with {
                    class: config.name ~ '__navigation',
                    data: {
                        items: [
                            {
                                title: 'global.categories',
                                isShow: data.showNavigation,
                                templates: [
                                    {
                                        template: 'navigation-footer',
                                        menu: 'FOOTER_NAVIGATION_CATEGORIES'
                                    }
                                ]
                            },
                            {
                                title: 'global.company',
                                templates: [
                                    {
                                        template: 'navigation-footer',
                                        menu: 'FOOTER_NAVIGATION'
                                    }
                                ]
                            },
                            {
                                title: 'global.social',
                                templates: [
                                    {
                                        template: 'navigation-footer',
                                        menu: 'SOCIAL_LINKS'
                                    }
                                ]
                            },
                            {
                                class: 'is-hidden-md-xl',
                                modifiers: ['flex'],
                                title: 'footer.providers__title',
                                templates: [
                                    {
                                        template: 'navigation-providers-shipment',
                                        menu: 'SHIPMENT_PROVIDERS',
                                        wrapClass: 'spacing-right spacing-right--big',
                                    },
                                    {
                                        template: 'navigation-providers-payment',
                                        menu: 'PAYMENT_PROVIDERS'
                                    }
                                ]
                            }
                        ]
                    }
                } only %}
            {% endblock %}
        </div>

        <div class="grid grid--middle {{ config.name }}__bottom">

            <div class="col {{ config.name }}__logo-section">

                <div class="{{ config.name }}__logo-copy">
                    <span class="{{ config.name }}__logo-copy-text">
                        {{- 'footer.logo.text' | trans -}}
                    </span>

                    {% include molecule('footer-logo') only %}

                    {% block copyright %}{% endblock %}
                </div>

                <div class="{{ config.name }}__logo-copy-links">
                    <a
                        href="{{ 'footer.logo.link.privacy' | trans }}"
                        target="_blank"
                        class="{{ config.name }}__logo-copy-link"
                    >
                        {{- 'page.privacy.title' | trans -}}
                    </a>

                    <a
                        href="{{ 'footer.logo.link.imprint' | trans }}"
                        target="_blank"
                        class="{{ config.name }}__logo-copy-link"
                    >
                        {{- 'page.imprint.title' | trans -}}
                    </a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
