{% extends model('component') %}

{% define config = {
    name: 'filter-range'
} %}

{% define data = {
    parameter: required,
    min: required,
    activeMin: required,
    max: required,
    activeMax: required
} %}

{% block body %}
    <input
        class="{{ config.jsName }}__input-min"
        type="hidden"
        name="{{ data.parameter }}[min]"
        value="{{ data.activeMin }}"
        required="required"
        min="{{ data.min }}"
        max="{{ data.max }}"
        data-default-value="{{ data.min }}"
    />

    <input
        class="{{ config.jsName }}__input-max"
        type="hidden"
        name="{{ data.parameter }}[max]"
        value="{{ data.activeMax }}"
        required="required"
        min="{{ data.min }}"
        max="{{ data.max }}"
        data-default-value="{{ data.max }}"
    />

    {% set filtersEqual = data.max is same as(data.min)%}
    {% if not filtersEqual %}
        <div class="range-slider range-slider--horizontal {{ config.jsName }}__range-slider">
            <div class="range-slider__values">
                <span class="range-slider__values-item {{ config.jsName }}__values-min">
                    {{- data.activeMin | money -}}
                </span>
                <span class="range-slider__values-item {{ config.jsName }}__values-max">
                    {{- data.activeMax | money -}}
                </span>
            </div>
        </div>

        {% include molecule('range-slider') with {
            attributes: {
                'wrap-selector': '.' ~ config.jsName ~ '__range-slider',
                'value-selector': '.' ~ config.jsName ~ '__values-min, .' ~ config.jsName ~ '__values-max',
                'value-min': data.min,
                'value-max': data.max,
                'active-min': data.activeMin,
                'active-max': data.activeMax,
                'target-selector': '.' ~ config.jsName ~ '__input-min, .' ~ config.jsName ~ '__input-max'
            }
        } only %}
    {% endif %}

{% endblock %}
