{% extends model('component') %}

{% define config = {
    name: 'cart-item-variant-selector'
} %}

{% define data = {
    cartItem: required,
    cartItemAttributes: []
} %}

{% block component %}
    {% set isItemVariantReplaceAvailable = data.cartItemAttributes is not empty %}

    {% if widgetExists('QuantitySalesUnitWidgetPlugin') %}
        {% set isItemVariantReplaceAvailable = not widgetBlock('QuantitySalesUnitWidgetPlugin', 'hasSalesUnit', data.cartItem) and isItemVariantReplaceAvailable %}
    {% endif %}

    {% if isItemVariantReplaceAvailable %}{{parent()}}{% endif %}
{% endblock %}

{% block body %}
    <form method="POST" action="{{ path('cart/update', {'sku': data.cartItem.sku }) }}">
        <ul class="list">
            {% for attributeName, attributeOptions in data.cartItemAttributes %}
                {% set options = [] %}

                {% for value, properties in attributeOptions %}
                    {% set options = options | merge([{
                        label: value,
                        value: value,
                        selected: attribute(properties, 'selected') ? true : false,
                        disabled: attribute(properties, 'available') ? false : true
                    }]) %}
                {% endfor %}

                <li class="list__item">
                    <label class="{{ config.name }}__label">
                        <strong class="{{ config.name }}__title">{{ ('product.attribute.' ~ attributeName) | trans }}:</strong>
                        {% embed molecule('custom-select') with {
                            modifiers: ['hollow'],
                            data: {
                                label: ('product.attribute.' ~ attributeName) | trans,
                                options: options
                            },
                            attributes: {
                                name: 'preselectedAttributes[' ~ attributeName ~ ']'
                            },
                            embed: {
                                jsClass: config.jsName ~ '__select-trigger'
                            }
                        } only %}
                            {% block selectClass -%}
                                {{ parent() }} {{ embed.jsClass }}
                            {%- endblock %}
                        {% endembed %}
                    </label>
                    <input name="selectedAttributes[{{ attributeName }}]" type="hidden" />
                    {% include molecule('form-submitter') with {
                        attributes: {
                            'trigger-selector': '.' ~ config.jsName ~ '__select-trigger'
                        }
                    } only %}
                </li>
            {% endfor %}
        </ul>

        <input type="hidden" value="{{ data.cartItem.groupKey }}" name="groupKey" />
        <input type="hidden" value="{{ data.cartItem.quantity }}" name="quantity" />

        {% if data.cartItem.productOptions is not empty %}
            {% for productOption in data.cartItem.productOptions %}
                <input name="product-option[{{ productOption.groupName }}]" type="hidden" value="{{ productOption.idProductOptionValue }}" />
            {% endfor %}
        {% endif %}
    </form>
{% endblock %}
