{% extends template('page-layout-main') %}

{% define data = {
    questions: _view.questions,
    itemsPerPage: _view.itemsPerPage,
    page: _view.page,
    prevPage: _view.prevPage,
    nextPage: _view.nextPage
} %}

{% block content %}
    <div style="margin-left:auto; margin-right: auto; width:70%">
        <h2>Frequently asked questions</h2>
        <br><br>
        {% for question in data.questions %}
            <div>
                {{ question.question }} <br>
                {{ question.answer }} <br>
            </div>
            <br><br>
        {% endfor %}

        Current page: {{ data.page  }}
        <br>
        <a href="/faq?items-per-page={{ data.itemsPerPage }}&page={{ data.prevPage }}">Previous Page</a>
        <a href="/faq?items-per-page={{ data.itemsPerPage }}&page={{ data.nextPage }}">Next Page</a>

        <br><br>

    </div>
{% endblock %}
