{% extends model('component') %}

{% define config = {
    name: 'wishlist-form',
    tag: 'div'
} %}

{% define data = {
    wishlistForm: required
} %}

{% block body %}
    {{ form_start(data.wishlistForm) }}
        <div class="grid">
            <div class="col col--expand wishlist-input">
                {{ form_widget(data.wishlistForm.name, { attr: { placeholder: 'customer.account.wishlist.overview.enter_name' | trans }}) }}
            </div>
            <div class="col">
                <input type="submit" class="button button--primary" value="{{ 'customer.account.wishlist.overview.add_new' | trans }}" />
            </div>
        </div>

        {{ form_errors(data.wishlistForm) }}
    {{ form_end(data.wishlistForm) }}
{% endblock %}
